**While Loop**

In [ ]:
# example1
i = 0
while i <= 10:
  print(i)
  i += 1
  # it will print the numbers from 0 to 10

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# example2
while True:
  user = input("Type 'exit' to quit: ")
  if user.lower() == "exit":
    print("Exiting...")
    break
  # it will take input from iser and when user enter the require input it will exit and break the loop. if the user give wrong input the user loop will continue until the right inout is being given. if the break is not written , the loop will continue even after exiting

Type 'exit' to quit: exit
Exiting...

In [ ]:
# example3
num = 10
while num > 0:
  num -= 1
  print("Blast off!")
  # it will print the blast off 10 times

Blast off!
Blast off!
Blast off!
Blast off!
Blast off!
Blast off!
Blast off!
Blast off!
Blast off!
Blast off!

In [ ]:
# example4
sum = 1
total = 0
while sum <= 10:
  total += sum
  sum += 1
print("Sum of numbers 1 to 10:", total)
# here the sum will tke place like this: 1+2=3, 3+3=6, 6+4=10, 10+5=15 ,15+6=21, 21+7=28, 28+8=36, 36+9=45, 45+10=55

Sum of numbers 1 to 10: 55

In [ ]:
# example5
color = ["pink" , "orange" , "purple"]
i = 0
while i < len(color):
  print(color[i])
  i += 1

pink
orange
purple

In [ ]:
# example6
num = 5
factorial = 1
while num > 0:
    factorial *= num
    num -= 1
print("Factorial:", factorial)
# the factorial in loop take place like this: 1*2=2, 2*3=6, 6*4=24 ,24*5=120

Factorial: 120

In [ ]:
# example7
number = 54321
reverse = 0
while number > 0:
  digit = number % 10
  reverse = reverse * 10 + digit
  number //= 10
print ("Reversed number:" , reverse)

Reversed number: 12345

In [ ]:
# example8
i = 0
while i <= 5:
  print(i)
  i += 1

0
1
2
3
4
5

In [ ]:
# example9
while True:
  sigma = input("Type 'start' to begin: ")
  if sigma.lower() == "start":
    print("Starting...")
    break

Type 'start' to begin: start
Starting...

In [ ]:
# example10
n = 1
total = 0
while n <= 20:
    total += n
    n += 1
print("Sum of numbers 1 to 20:", total)

Sum of numbers 1 to 20: 210