# task # 7
# LOOPS

**FOR LOOP**

In [ ]:
for i in range(2):
  print (i)

0
1

In [ ]:
for i in range(4,5):
  print (i)

4

In [ ]:
for i in range (1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for m in range(23,26):
  print(m)

23
24
25

In [ ]:
for a in range(1,10,2):
  print(a)

1
3
5
7
9

In [ ]:
for x in range(8):
  print(x)
else:
  print("good attempt")

0
1
2
3
4
5
6
7
good attempt

In [ ]:
for i in range (1,10):
  print(i)
  if i == 5:
    break

1
2
3
4
5

In [ ]:
for r in (" Alisha"):

  print(r)

A
l
i
s
h
a

In [ ]:
for y in (" we are hiring you"):
  print(y)

w
e

a
r
e

h
i
r
i
n
g

y
o
u

In [ ]:
food = " baryani"
for x in food:
  print(x)

b
a
r
y
a
n
i

In [ ]:
food = input (" enter your favourite food")
for x in food:
  print(x)

 enter your favourite foodpizza
p
i
z
z
a

**NESTED LOOP**

In [ ]:
for i in range (3):
  print ( " welcome ",i)

  for w in range (2):
    print (" bye", w)

 welcome  0
 bye 0
 bye 1
 welcome  1
 bye 0
 bye 1
 welcome  2
 bye 0
 bye 1

In [ ]:
for f in range (1):
  print(" father", f)
  for s in range (3):
    print(" son ", s)

 father 0
 son  0
 son  1
 son  2

In [ ]:
for s in (" Alisha"):

  print (" Alisha", s)

 Alisha
 Alisha A
 Alisha l
 Alisha i
 Alisha s
 Alisha h
 Alisha a

In [ ]:
for i in range ( 1,3):
  print (" teacher", i)
  for m in range (2):
    print (" amna",m)
    print(" tooba",m)

 teacher 1
 amna 0
 tooba 0
 amna 1
 tooba 1
 teacher 2
 amna 0
 tooba 0
 amna 1
 tooba 1

In [ ]:
for i in range ( 1,3):
  print (" sorry", i)
  for m in range (2):
    print (m)

 sorry 1
0
1
 sorry 2
0
1

In [ ]:
for i in range (4):
  print (" please")
  for j in range(3):
    print (" no")

 please
 no
 no
 no
 please
 no
 no
 no
 please
 no
 no
 no
 please
 no
 no
 no

In [ ]:
for i in range (3):
  print (" qabool hai")
  for j in range(1):
    print (" ji han")

 qabool hai
 ji han
 qabool hai
 ji han
 qabool hai
 ji han

In [ ]:
for i in range (100):
  print (" sorry ")

 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry
 sorry

In [ ]:
for i in range(2):
  print (" Hello")
  for t in range (2):
    print (" welcome")

 Hello
 welcome
 welcome
 Hello
 welcome
 welcome

In [ ]:
for m in range (2):
  print (" december")
  for n in range (2):
    print (" july")
    for o in range (3):
      print (" june")

 december
 july
 june
 june
 june
 july
 june
 june
 june
 december
 july
 june
 june
 june
 july
 june
 june
 june

In [ ]:
for i in range (5):
   print("sweet se eman")
   for y in range (1):
    print (" ase hi rehna ok")

sweet se eman
 ase hi rehna ok
sweet se eman
 ase hi rehna ok
sweet se eman
 ase hi rehna ok
sweet se eman
 ase hi rehna ok
sweet se eman
 ase hi rehna ok