LOOPS

1- For Loops

In [ ]:
word = "mubashir"
for char in word:
  print(char)

m
u
b
a
s
h
i
r

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [ ]:
str = ["ali", "hamza", "rose"]
for Chr in str:
  print(Chr)

ali
hamza
rose

In [ ]:
for i in range(5):
  print("hello peeps")

hello peeps
hello peeps
hello peeps
hello peeps
hello peeps

In [ ]:
word = "Ai Cadmey"
for char in word:
  print(char)

A
i

C
a
d
m
e
y

In [ ]:
for i in range(3):
  for j in range(2):
    print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(5):
    print("Hello, world!")

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

2- nested loop

In [ ]:
for i in range(5):
    for j in range(i+1):
        print("*", end="")
    print()

*
**
***
****
*****

In [ ]:
for i in range(1, 6):
    for j in range(5, i+1):
        print(j, end=" ")
    print()

5

In [ ]:
for i in range(5):
  for j in range(5):
    print("hello", end=" ")
  print()

hello hello hello hello hello
hello hello hello hello hello
hello hello hello hello hello
hello hello hello hello hello
hello hello hello hello hello

In [ ]:
for i in range(2):
  print (i)
  for j in range(10, 13):
    print(j)

0
10
11
12
1
10
11
12

In [ ]:
for i in range(2):
  print (i)
  for j in range(10):
    print(j)

0
0
1
2
3
4
5
6
7
8
9
1
0
1
2
3
4
5
6
7
8
9

In [ ]:
x = [1, 2]
y = [4, 5]

for i in x:
  for j in y:
    print(i, j)

1 4
1 5
2 4
2 5

In [ ]:
for i in range(5):
  for j in range(i+1):
    print("*", end="")
  print()

*
**
***
****
*****

In [ ]:
for i in range(1, 11):
  for j in range(1, 11):
    print(i * j, end="\t")
  print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [ ]:
for i in range(1, 11):
  for j in range(1, 11):
    print(i + j, end="\t")
  print()

2	3	4	5	6	7	8	9	10	11
3	4	5	6	7	8	9	10	11	12
4	5	6	7	8	9	10	11	12	13
5	6	7	8	9	10	11	12	13	14
6	7	8	9	10	11	12	13	14	15
7	8	9	10	11	12	13	14	15	16
8	9	10	11	12	13	14	15	16	17
9	10	11	12	13	14	15	16	17	18
10	11	12	13	14	15	16	17	18	19
11	12	13	14	15	16	17	18	19	20

In [ ]:
for i in range(1):
  for j in range(2):
    print("oye", end=" ")
  print()

oye oye