Example of for loop

In [ ]:
#natural no
#1
for i in range(1, 11):
    print(i)

#2
for i in range(1, 11):
    print(i, end=" ")

1
2
3
4
5
6
7
8
9
10
1 2 3 4 5 6 7 8 9 10 12345678910

In [ ]:
#3 even no
for i in range(2, 21, 2):
    print(i)

#4 odd no
for i in range(1, 20, 2):
    print(i)
#5 prime no
for num in range(2, 21):
    for i in range(2, num):
       if (num % i) == 0:
            break
    else:
       print(num)

2
4
6
8
10
12
14
16
18
20
1
3
5
7
9
11
13
15
17
19
2
3
5
7
11
13
17
19

In [ ]:
#8
my_list = [10, 20, 30, 40, 50]
for num in my_list:
    print(num)

10
20
30
40
50

In [ ]:
#6 specific pattern
for i in range(1, 6):
    print("#" * i)

#7
for i in range(5, 0, -1):
    print("#" * i)

#
##
###
####
#####
#####
####
###
##
#

Example of nested loops

In [ ]:
#1 Table 1-10
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j , end = "\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [ ]:
#2
for i in range(1, 6):
    for j in range(1, 6):
        print("*", end="")
    print()

*****
*****
*****
*****
*****

In [ ]:
#3
for i in range(1, 6):
    for j in range(1, 6):
        print(i*"*", end="")
    print()

*****
**********
***************
********************
*************************