In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(10):
    print('BARYANI')

BARYANI
BARYANI
BARYANI
BARYANI
BARYANI
BARYANI
BARYANI
BARYANI
BARYANI
BARYANI

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
for i in range(1,11):
    print(i*3)

3
6
9
12
15
18
21
24
27
30

In [ ]:
for i in range(10):
    print("AEMAN CHAUHDURY IS NICE INSTRUCTOR")

AEMAN CHAUHDURY IS NICE INSTRUCTOR
AEMAN CHAUHDURY IS NICE INSTRUCTOR
AEMAN CHAUHDURY IS NICE INSTRUCTOR
AEMAN CHAUHDURY IS NICE INSTRUCTOR
AEMAN CHAUHDURY IS NICE INSTRUCTOR
AEMAN CHAUHDURY IS NICE INSTRUCTOR
AEMAN CHAUHDURY IS NICE INSTRUCTOR
AEMAN CHAUHDURY IS NICE INSTRUCTOR
AEMAN CHAUHDURY IS NICE INSTRUCTOR
AEMAN CHAUHDURY IS NICE INSTRUCTOR

In [ ]:
for i in range(5):
    print('AIC WINTER 25')

AIC WINTER 25
AIC WINTER 25
AIC WINTER 25
AIC WINTER 25
AIC WINTER 25

In [ ]:
for i in range(20,30):
    print('FORD SHELBY MUSTANG 1969 MACH 1')

FORD SHELBY MUSTANG 1969 MACH 1
FORD SHELBY MUSTANG 1969 MACH 1
FORD SHELBY MUSTANG 1969 MACH 1
FORD SHELBY MUSTANG 1969 MACH 1
FORD SHELBY MUSTANG 1969 MACH 1
FORD SHELBY MUSTANG 1969 MACH 1
FORD SHELBY MUSTANG 1969 MACH 1
FORD SHELBY MUSTANG 1969 MACH 1
FORD SHELBY MUSTANG 1969 MACH 1
FORD SHELBY MUSTANG 1969 MACH 1

In [ ]:
for i in range(20,30):
    print(i)

20
21
22
23
24
25
26
27
28
29

In [ ]:
for i in range(20,30,2):
    print(i)

20
22
24
26
28

NESTED LOOP

In [ ]:
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i} x {j} = {i * j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
for i in range(1, 5):
    for j in range(1, 5):
        print(f"{i} + {j} = {i + j}")

1 + 1 = 2
1 + 2 = 3
1 + 3 = 4
1 + 4 = 5
2 + 1 = 3
2 + 2 = 4
2 + 3 = 5
2 + 4 = 6
3 + 1 = 4
3 + 2 = 5
3 + 3 = 6
3 + 4 = 7
4 + 1 = 5
4 + 2 = 6
4 + 3 = 7
4 + 4 = 8

In [ ]:
for i in range(1, 3):
    for j in range(1, 3):
        print(f"{i} - {j} = {i - j}")

1 - 1 = 0
1 - 2 = -1
2 - 1 = 1
2 - 2 = 0

In [ ]:
for i in range(1, 3):
    for j in range(1, 3):
        print(f"{i} * {j} = {i * j}")

1 * 1 = 1
1 * 2 = 2
2 * 1 = 2
2 * 2 = 4

In [ ]:
for i in range(1, 7):
    for j in range(1, 7):
        print(f"{i} / {j} = {i / j}")

1 / 1 = 1.0
1 / 2 = 0.5
1 / 3 = 0.3333333333333333
1 / 4 = 0.25
1 / 5 = 0.2
1 / 6 = 0.16666666666666666
2 / 1 = 2.0
2 / 2 = 1.0
2 / 3 = 0.6666666666666666
2 / 4 = 0.5
2 / 5 = 0.4
2 / 6 = 0.3333333333333333
3 / 1 = 3.0
3 / 2 = 1.5
3 / 3 = 1.0
3 / 4 = 0.75
3 / 5 = 0.6
3 / 6 = 0.5
4 / 1 = 4.0
4 / 2 = 2.0
4 / 3 = 1.3333333333333333
4 / 4 = 1.0
4 / 5 = 0.8
4 / 6 = 0.6666666666666666
5 / 1 = 5.0
5 / 2 = 2.5
5 / 3 = 1.6666666666666667
5 / 4 = 1.25
5 / 5 = 1.0
5 / 6 = 0.8333333333333334
6 / 1 = 6.0
6 / 2 = 3.0
6 / 3 = 2.0
6 / 4 = 1.5
6 / 5 = 1.2
6 / 6 = 1.0

In [ ]:
for i in range(1, 5):
    for j in range(1, 5):
        print(f"{i} % {j} = {i % j}")

1 % 1 = 0
1 % 2 = 1
1 % 3 = 1
1 % 4 = 1
2 % 1 = 0
2 % 2 = 0
2 % 3 = 2
2 % 4 = 2
3 % 1 = 0
3 % 2 = 1
3 % 3 = 0
3 % 4 = 3
4 % 1 = 0
4 % 2 = 0
4 % 3 = 1
4 % 4 = 0

In [ ]:
for i in range(1, 5):
    for j in range(1, 5):
        print(f"{i} // {j} = {i // j}")

1 // 1 = 1
1 // 2 = 0
1 // 3 = 0
1 // 4 = 0
2 // 1 = 2
2 // 2 = 1
2 // 3 = 0
2 // 4 = 0
3 // 1 = 3
3 // 2 = 1
3 // 3 = 1
3 // 4 = 0
4 // 1 = 4
4 // 2 = 2
4 // 3 = 1
4 // 4 = 1

In [ ]:
for i in range(0, 5):
    for j in range(0, 5):
        print(f"{i} * {j} = {i * j}")

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16

In [ ]:
for i in range(0, 5):
    for j in range(0, 5):
        print(f"{i} ** {j} = {i ** j}")

0 ** 0 = 1
0 ** 1 = 0
0 ** 2 = 0
0 ** 3 = 0
0 ** 4 = 0
1 ** 0 = 1
1 ** 1 = 1
1 ** 2 = 1
1 ** 3 = 1
1 ** 4 = 1
2 ** 0 = 1
2 ** 1 = 2
2 ** 2 = 4
2 ** 3 = 8
2 ** 4 = 16
3 ** 0 = 1
3 ** 1 = 3
3 ** 2 = 9
3 ** 3 = 27
3 ** 4 = 81
4 ** 0 = 1
4 ** 1 = 4
4 ** 2 = 16
4 ** 3 = 64
4 ** 4 = 256

In [ ]:
for i in range(5, 10):
    for j in range(5, 10):
        print(f"{i} // {j} = {i // j}")

5 // 5 = 1
5 // 6 = 0
5 // 7 = 0
5 // 8 = 0
5 // 9 = 0
6 // 5 = 1
6 // 6 = 1
6 // 7 = 0
6 // 8 = 0
6 // 9 = 0
7 // 5 = 1
7 // 6 = 1
7 // 7 = 1
7 // 8 = 0
7 // 9 = 0
8 // 5 = 1
8 // 6 = 1
8 // 7 = 1
8 // 8 = 1
8 // 9 = 0
9 // 5 = 1
9 // 6 = 1
9 // 7 = 1
9 // 8 = 1
9 // 9 = 1