# 10 PROGRAMS (" CLASSES")

In [ ]:
class Human :
 def __init__ (self ):
  self.name = " none"  # attributes
  self.age = " none "
  self. gender = " female"
def identity(self):  # function
   name= name.self
   gender= gender.self
# result = self.name + " " + self.gender + " " + self.age
   #return result
Alisha=Human()  # object
laiba=Human()
print (" you are a such a pretty girl")
print(Alisha.name)
print(laiba.age)

 you are a such a pretty girl
 none
 none

In [ ]:
class wish :
  def __init__(self):
    self.name = " Alisha"
    self. birthday= 20
    def birthday(self) :
     name=self.name
     birthday=self.birthday
wish=wish()
birthday=wish()
#print("wish you a happy birthday")

print(wish.name)
print(wish.birthday)
print("wishing you a happy birthday issue:")

 Alisha
13
wishing you a happy birthday issue:

In [ ]:
class car:

 def __init__(self):  #constructor
  self.modle="civic"
  self.year=" 2023"     #attributes
  self.color="black"

def start_engin(self) :   # method / function
  modle=self.modle
  color=self.color
def stop_engin(self):
  modle=self.modle
  print(civic.model)
  print(civic.color)
  print(civic.year)

  color=self.color
def accelerate(self):
  modle=self.modle
  color=self.color
def brake(self):
  ciciv=car()             #object
  engin=car()

In [ ]:
class student:

   def__init__(self):
   self.garde="A"   #attributes
   self.personality=" cool"
   def intoduce(self) :  # function
  # return f"My grade is {self.grade} and my personality is {self.personality}."
    grade=self.grade
   personality=self.personality


student1= student()   #object
student2=student()

print(self.grade)
print(self.personality)

print(student1.grade)
print(student1.personality)
print(student2.grade)
print(student2.personality)

SyntaxError: invalid syntax (<ipython-input-10-9b89c44678d1>, line 3)

In [ ]:
class bankAccount :
   def__init__(self )
   self.balance=10000    # attributes
   self.interest_rate=0.05

   def deposit() # fnction

   balance=self.balance
   interest_rate=self.interest_rate

   bankAccount1=bankAccount()
   bankAccount2=bankAccount()

   print(bankAccount1.balance)
   print(bankAccount1.interest_rate)
   print(bankAccount2.balance)
   print(bankAccount2.interest_rate)

In [ ]:
class library:
  def __init__(self):
    self.name=" oxford engish"
    self.quantity= 12

    def borrow(self):
     name= self.name
    quantity=self.quantity

    library1=library()
    library2=library()

    print(library1.name)
    print(library1.quantity)
    print(library2.name)
    print(library2.quantity)

In [ ]:
class Dog:
    def __init__(self, name, breed, age):  #  attributes
        self.name = name  # Attribute for the dog's name
        self.breed = breed  # Attribute for the dog's breed
        self.age = age  # Attribute for the dog's age

    def bark(self):  # Method for the dog to bark
        return f"{self.name} says: Woof! Woof!"



# Creating two objects of the Dog class
    dog1 = Dog("Buddy", "Golden Retriever")
dog2 = Dog("Bella", "German Shepherd")

# Accessing attributes and methods for dog1
print(f"Dog 1 Name: {dog1.name}")
print(f"Dog 1 Breed: {dog1.breed}")
print(dog1.bark())


# Accessing attributes and methods for dog2
print(f"Dog 2 Name: {dog2.name}")
print(f"Dog 2 Breed: {dog2.breed}")

TypeError: Dog.__init__() missing 1 required positional argument: 'age'

In [ ]:
class smartphone:
  def __init__(self):
   self.modle="iphone"
   self.storage= 128

   def call(self):
    modle=self.name
    storage=self.storage


    def installApp(self):
        modle=self.model
        storage=self.storage

    smartphone1=smartphone()
    smartphone2=smartphone()
    smartphone3=smartphone()

    print(smartphone1.modle)
    print(smartphone2.modle)
    print(smartphone3.modle)

In [ ]:
class birthdayMonth:
     def __init__ (self):
      self.day= "friday"
      self.time=12
      self.date=13             # attributes
      self.month= "december"

      def birthday(self):     # function
        day=self.day
        time=self.time
        date=self.date
        month=self.month

      def nextyear(self):    #method
        day=self.day
        time=self.time
        date=self.date
        month=self.month

        Alisha=birthdayMonth()       # object
        issue=birthdayMonth()

      print(Alisha.day)
      print(Alisha.time)
      print(Alisha.date)
      print(Alisha.month)

In [ ]:
class organism:
  def __init__(self):
    self.specie="Panthera leo"
    self. name = "Lion"
    self.age= 5

    def eat(self):
      specie=self.specie
      name=self.name
      age=self.age

    def grow(self):
      specie=self.specie
      name=self.name
      age=self.age

      organism1=organism()
      organism2=organism()

      print(organism1.specie)
      print(organism1.name)
      print(organism1.age)
      print(organism2.specie)
      print(organism2.name)
      print(organism2.age)

# finish