In [ ]:
#5 without parameter
def nahsheeb():
  print("my name is nakhsheeb")
  print("my age is 20")
nahsheeb()

my name is nakhsheeb
my age is 20

In [ ]:
def education():
  print("my semeter:3")
  print("my department:AI")
education()

my semeter:3
my department:AI

In [ ]:
def siblings():
  print("i have 3 siblings")
  print("we are 4 siblings")
siblings()

i have 3 siblings
we are 4 siblings

In [ ]:
def gender():
  print("i am female")
gender()

i am female

In [ ]:
def age_info():
  print("i am in my late teens")
age_info()

i am in my late teens

In [ ]:
#5 functions with parameters
def sum_numbers(a,b):
  print(a+b)
sum_numbers(5,4)

9

In [ ]:
def div_numbers(a,b):
  print(a/b)
div_numbers(5,4)

1.25

In [ ]:
def diff_numbers(a,b,d):
  print(a-b-d)
diff_numbers(5,4,1)

0

In [ ]:
def mul_numbers(a,b):
  print(a*b)
mul_numbers(5,4)

20

In [ ]:
def mod_numbers(a,b,c):
  print(a%b%c)
mod_numbers(5,4,10)

1

In [ ]:
#5 default parameters
def diff_numbers(a,b,d):
  print(a-b-d)
diff_numbers(a=5,b=10,d=3)

-8

In [ ]:
def add_numbers(a,b,d,e):
  print(a+b+d+e)
add_numbers(a=5,b=10,d=20,e=4)

39

In [ ]:
def mod_numbers(a,b,c):
  print(a%b%c)
mod_numbers(a=5,b=4,c=3)

1

In [ ]:
def mul_numbers(a,b):
  print(a*b)
mul_numbers(a=5,b=4)

20

In [ ]:
def div_numbers(a,b):
  print(a/b)
div_numbers(a=5,b=4)

1.25

In [ ]:
#5 user input
def mul_numbers():
    a = int(input("Enter the first number: "))
    b = int(input("Enter the second number: "))
    c = int(input("Enter the third number: "))
    print(a * b * c)

# Call the function
mul_numbers()

Enter the first number: 5
Enter the second number: 5
Enter the third number: 5
125

In [ ]:
def diff_numbers():
 a=int(input("enter the first number"))
 b=int(input("enter the second number"))
 d=int(input("enter the third number"))
 print(a-b-d)

diff_numbers()

enter the first number10
enter the second number5
enter the third number3
2

In [ ]:
def mod_numbers():
  a=int(input("enter the first number"))
  b=int(input("enter the second number"))
  c=int(input("enter the third number"))
  print(a%b%c)
mod_numbers()

enter the first number2
enter the second number8
enter the third number5
2

In [ ]:
def div_numbers():
  a=int(input("enter the first number"))
  b=int(input("enter the second number"))
  print(a/b)
div_numbers()

enter the first number10
enter the second number3
3.3333333333333335

In [ ]:
def sum_numbers():
  a=int(input("enter the first number: "))
  b=int(input("enter the second number: "))
  c=int(input("enter the third number: "))
  print(a+b+c)
sum_numbers()

enter the first number: 5
enter the second number: 5
enter the third number: 5
15