In [ ]:
#theses are 20 integers programs

In [ ]:
a=20
b=10
sum=a+b
print(sum)

30

In [ ]:
age1=20
age2=30
print(age1)

20

In [ ]:
price=30
print(price)

30

In [ ]:
juice1=80
juice2=60
print(juice1)

80

In [ ]:
age=30
print(age)

30

In [ ]:
a= 0
b=5
print(a)

0

In [ ]:
a= 00
print(a)

TypeError: 'int' object is not callable

In [ ]:
num1 = 40

print (num)

In [ ]:
x=2
y=3
z=6
print(x+y+z)

In [ ]:
u = 45
i=90
sum=u+i
print(sum)

In [ ]:
j = 40
a= 80
v=70
print(j)

In [ ]:
pencil1=30
pencil2=40
pencil=50
print(pencil2)

In [ ]:
y=40
r=20
print(y+r)

In [ ]:
print(34)

In [ ]:
x=78
u="jerry"
print(x)

In [ ]:
m=88
c=30
print(m+c)

In [ ]:
a="Alisha"
num=20
print(num)

In [ ]:
num1=30
num2=40
print(num1+num2)

In [ ]:
age1=20
age2=30
print(age1)

In [ ]:
#theses are the 20  float programs

In [ ]:
y=0.55
u=0.44
print(y+u)

0.99

In [ ]:
u=-7.88
i=9.99
print(u+i)

2.1100000000000003

In [ ]:
g=7.00
h=4.0
3.55
print(g+h)

11.0

In [ ]:
a=0.99
b=0.88
print(a+b)

1.87

In [ ]:
e=0.55
f=9.44
print(e+f)

9.99

In [ ]:
print(5.55)

5.55

In [ ]:
i=55
j=4.0
print(i+j)

59.0

In [ ]:
b=4.00
d=44.8
sum=b+d
print(sum)

48.8

In [ ]:
b=99.7
p=int(b)
print(p)

99

In [ ]:

float=8.99
print(float)

8.99

In [ ]:
m=77
n=8.0
print(m+n)

85.0

In [ ]:
b=6.6
v=8.8
print(b+v)

15.4

In [ ]:
h=5.5
name="alisha"
print(h)

5.5

In [ ]:
o=4.9
i=9.00
f=4.44
print(o+i+f)

18.34

In [ ]:
u=4.4
print(u)

4.4

In [ ]:
b=55
t=3.3
print(b+t)

58.3

In [ ]:
b=8.44
i=(print(b))

8.44

In [ ]:
b=-9.44
print(b)

-9.44

In [ ]:
v=0.9
c=3.0
d=4.4
t=4.4
print(v+c+d+t)

12.700000000000001

In [ ]:
num1=3.3
num2=4.4
num3=39.4
num4=4.88
print(num1+num2+num3+num4)

51.980000000000004

In [ ]:
#these are 20 string codes

In [ ]:
a= "mango"
b= " banana"
c= " orange"
print(a+b+c)

In [ ]:
c="Alisha"
b="she is a girl"
print(c)

TypeError: 'int' object is not callable

In [ ]:
a= " i like to read books"
print(a)

In [ ]:
print("It's alright")

In [ ]:
a = "Hello"
print(a)

In [ ]:
string="string"
print(string)

In [ ]:
e="i was born in pakistan"
print(e)

In [ ]:
d=" alisha"
b= " laiba"
c=" bushra"
print(b)

In [ ]:
print(" Hello beautiful")

In [ ]:
s= " handsome"
b= " smart"
print(s+b)

In [ ]:
e= " monkey"
d= " he like to eat banana"
print=(e+d)

TypeError: 'int' object is not callable

In [ ]:
v=67
b=0.77
c="Hello"
print(v+b)

In [ ]:
u=66
d=" bear"
print="d"

In [ ]:
y = " phthon"
u= " java"
b= " c++"
print(y+u+b)

In [ ]:
y= " simple and easy"
u = " easy to learn"
print(y+u)

In [ ]:
f=" string is a data type"
print(f)

In [ ]:
t= " its too late to learn"
print(t)

In [ ]:
# these are type 30 input programs

In [ ]:
name= input("enter your name")
print(name)

enter your nameAlisha
Alisha

In [ ]:
name=input("enter your first name")
name2=input("enter your last name")
print(name+name2)

enter your first nameAlisha
enter your last nameBabar
AlishaBabar

In [ ]:
age= input("enter your age")
print(age)

enter your age20
20

In [ ]:
height=input("enter your height")
print(height)

enter your height5.4
5.4

In [ ]:
fitness=input("enter your fitness")
print(fitness)

enter your fitnesssmart
smart

In [ ]:
education=input("enter your eduaction")
print(education)

enter your eduactionbachleor
bachleor

In [ ]:
siblings=input("enter your siblings")
print(siblings)

enter yoursiblings6
6

In [ ]:
father=input("enter your father name")
print(father)

In [ ]:
mother=input( "enter your mohther name")
print(mother)

In [ ]:
mood=input("your mood is")
print(mood)

In [ ]:
color =("enter your favourite color")
print(color)

In [ ]:
dish=input("enter your favourite dish")
print(dish)

In [ ]:
footwear=input("enter your favourite footwear")
print(footwear)

In [ ]:
name=input("enter your name")
print("hello",name)

In [ ]:
alisha=input("whats goint on")
print("whats going on",alisha)

In [ ]:
num1=input("enter first number")
num2=input("enter secoond number")
print("you enterd ", num1,"and",num2)

In [ ]:
name=input("enter your work")
name2=input("enter your work2")
print("you are doing",name,"and",name2)

In [ ]:
num1=input("enter number")
num2=input("enter number2")
print(num1+num2)

In [ ]:
name=input("enter your sister name")
name2=input("enter your brother name")
print("my sister name is",name,"and","my brother name is",name2 )

In [ ]:
num1=input("enter number")
num2=input("enter number2")
num3=input("enter number3")

print(num1+num2)

In [ ]:
wheather=input("enter current weather")
print("current wheather",wheather)

In [ ]:
name=("country name")
print("say hello to",name)

In [ ]:
result=input("enter your result")
print("your result is",result)

In [ ]:
image=input("enter your image")
print("your image is",image)

In [ ]:
int=input("enter your integer")
print("your integer is",int)

In [ ]:
boolean=input("enter your boolean")
print("your boolean is",boolean)

In [ ]:
ice=input("enter your suggestion")
print("my suggestion is",)

In [ ]:
pet=input("enter your pet name")
print("my pet name is",pet)

In [ ]:
a=input("enter your ceo name ")
print("my ceo name is",a)

In [ ]:
v=input ("enter your nick name")
print("my nick name is",v)

# these are 30 type casting program

In [ ]:
num1=int(input("enter first number"))
num2=float(input("enter second number"))
sum(num1+num2)
print (sum)
print(type(num1))

In [ ]:
s=99
r=3.3
c="alisha"
print(type(r))
print(type(s))

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 3+5j
y = 5
z = 5.4

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 1
a = float(x)
print(a)
print(type(a))

In [ ]:
y = 2.8
b = int(y)
print(b)
print(type(b))

In [ ]:
z = 1
c = float(z)
print(type(c))

In [ ]:
num1=float("enter a number ")
print(float(num1))
type(num1)

In [ ]:
i=string("enter your name")
print(float(i))
type(i)

In [ ]:
u=88
d=float(u)
print(d)
type(d)

In [ ]:
u=int("enter your age")
print(float(u))
type(u)

In [ ]:
e=88
i=0.33
print(type(e))
print(float(e))

In [ ]:
y=int("enter your age")
print(float(y))
type(y)

In [ ]:
a=int("enter your height")
print(string(a))
type(a)

In [ ]:
b=float("enter your weight")
print(int(b))
type(b)

In [ ]:
c=int("enter your dish")
print(float(c))
type(c)

In [ ]:
t=float("enter a number")
print(int(t))
type(t)

In [ ]:
b=string("enter your cast")
print(float(b))
type(b)

In [ ]:
y=0.44
print(type(a))
print(int(y))

In [ ]:
t=int("enter your age")
print(float(t))
type(t)

In [ ]:
b=int("enter your age")
print(string(b))
type(b)

In [ ]:
u=bool("enter your age")
print(float(u))
type(u)

In [ ]:
num1=int(input("enter first number"))
num2=int(input("enter second number"))

print(string(num1))

In [ ]:
t=int("enter your color")
print(float(t))
type(t)

In [ ]:
y=int("enter your name of a city ")
print(int(y))
type(y)

In [ ]:
w=float("enter your age")
print(int(w))
type(w)

In [ ]:
s=bool("enter your age")
print(float(s))
type(s)

In [ ]:
f=float("enter your detils")
print(int(f))
type(f)