# **Input and Type Casting**

In [ ]:
#1
num = input("Enter a number here: ") #String
num_value = int(num) #integer
print(num_value)
print(type(num_value))

Enter a number here: 23
23
<class 'int'>

In [ ]:
#2
num = int(input("Enter a number here: ")) #integer
print(num)
print(type(num))

Enter a number here: 34
34
<class 'int'>

In [ ]:
#3
num = float(input("Enter a number here: ")) #float
print(num)
print(type(num))

Enter a number here: 234
234.0
<class 'float'>

In [ ]:
#4
num = complex(input("Enter a number here: ")) #complex
print(num)
print(type(num))

Enter a number here: 43
(43+0j)
<class 'complex'>

In [ ]:
#5
num = bool(input("Enter a number here: ")) #boolean
print(num)
print(type(num))

Enter a number here: 645
True
<class 'bool'>

In [ ]:
#6
num = str(input("Enter a number here: ")) #string
print(num)
print(type(num))

Enter a number here: 3746
3746
<class 'str'>

In [ ]:
#7
num = list(input("Enter a number here: ")) #list
print(num)
print(type(num))

Enter a number here: 64737
['6', '4', '7', '3', '7']
<class 'list'>

In [ ]:
#8
num = tuple(input("Enter a number here: ")) #tuple
print(num)
print(type(num))

Enter a number here: 365353
('3', '6', '5', '3', '5', '3')
<class 'tuple'>

In [ ]:
#9
num = set(input("Enter a number here: ")) #set
print(num)
print(type(num))

Enter a number here: 37353
{'5', '7', '3'}
<class 'set'>

In [ ]:
#10
num = dict(input("Enter a number here: ")) #dictionary
print(num)
print(type(num))

Enter a number here: ("a": 1, "b": 2)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
#11
num = int(input("Enter a number here: ")) #range
num = float(num)
print(type(num))
num = bool(num)
print(type(num))
num = str(num)
print(type(num))

Enter a number here: 1
<class 'float'>
<class 'bool'>
<class 'str'>