Assignment task 2
Input and Type Casting.

1.integer to Float:

In [ ]:
x = 6371
y = float(x)  # y will be 6371.0

Taking float input:

In [ ]:
height = float(input("Enter your height in meters: "))

Taking string input:

In [ ]:
x = 6371.0
y = int(x)  # y will be 6371

String to Integer:

In [ ]:
x = "2440"
y = int(x)  # y will be 2440

String to Float:

In [ ]:
x = "3.14"
y = float(x)  # y will be 3.14

Integer to String:

In [ ]:
x = 15759
y = str(x)  # y will be "15759"

Float to String:

In [ ]:
x = 3.14
y = str(x)  # y will be "3.14"

Boolean to Integer:

In [ ]:
x = True
y = int(x)  # y will be 1

Integer to Boolean:

In [ ]:
x = 10
y = bool(x)  # y will be True

Advanced Type Castings:
List to Tuple:

In [ ]:
x = [1, 2, 3]
y = tuple(x)  # y will be (1, 2, 3)

Tuple to List:

In [ ]:
x = (1, 2, 3)
y = list(x)  # y will be [1, 2, 3]

String to List:

In [ ]:
x = "solar system"
y = list(x)  # y will be ['s', 'o', 'l', 'a', 'r', ' ', 's', 'y', 's', 't', 'e']

List to Set:

In [ ]:
x = [1, 2, 3, 1, 2]
y = set(x)  # y will be {1, 2, 3}

Dictionary to List:

In [ ]:
x = {'a': 1, 'b': 2, 'c': 3}
y = list(x.items())  # y will be [('a', 1), ('b', 2), ('c', 3)]

Dictionary to Tuple:

In [ ]:
x = {'a': 1, 'b': 2, 'c': 3}
y = tuple(x.items())  # y will be (('a', 1), ('b', 2), ('c', 3))

Bytes to String:

In [ ]:
x = b'tahseennazar'
y = x.decode('utf-8')  # y will be 'tahseennazar'

String to Bytes:

In [ ]:
x = 'solar system '
y = x.encode('utf-8')  # y will be b'solarsystem'

Bytes to Unicode:

In [ ]:
x = b'\xce\xa9'
y = x.decode('utf-8')  # y will be 'Î©'