In [ ]:

num1=input('Enter first number: ')
num2=input('Enter second number: ')
# type casting
sum=float(num1)+float(num2)
print (sum)

Enter first number: 12
Enter second number: 15
27.0

In [ ]:
total_marks=input("Enter total marks: ")
obtained_marks=input("Enter obtained marks: ")
#type casting
difference= int(obtained_marks)-int(total_marks)
print(difference)

Enter total marks: 500
Enter obtained marks: 450
-50

In [ ]:
total_cars=input("Enter total cars: ")
used_cars=input("Enter used cars: ")
#type casting
difference= float(total_cars)-float(used_cars)
print(difference)

Enter total cars: 1000
Enter used cars: 90
910.0

In [ ]:
milk=input("liters of milk")
banana=input("kg of banana")
#type casting
addition= int(milk)+int(banana)
print(addition)

liters of milk8
kg of banana1
9

In [ ]:
mobile_total_battery=input("total battery of mobile")
mobile_used_battery=input("used battery of mobile")
#type casting
difference= float(mobile_total_battery)-float(mobile_used_battery)
print(difference)

total battery of mobile100
used battery of mobile68
32.0

In [ ]:
marks_all_subjects=input("Enter marks")
marks_obtain_subject=input("Enter marks")
#type casting
difference= int(marks_all_subjects)-int(marks_obtain_subject)
print(difference)

Enter marks100
Enter marks89
11

In [ ]:

hours_uni = input("Enter hours in uni: ")
hours_day = input("Enter hours in day: ")

# Type casting
difference = int(hours_uni) - int(hours_day)
print(difference)

Enter hours in uni: 3
Enter hours in day: 24
-21

In [ ]:
full_charging=input("Enter full charging")
used_charging=input("Enter used charging")
#type casting
difference= float(full_charging)-float(used_charging)
print(difference)

Enter full charging100
Enter used charging70
30.0

In [ ]:

total_bottles=input("Enter total bottles")
bottles_refrigeretor=input("Enter bottles in refrigeretor")
#type casting
difference= int(total_bottles)-int(bottles_refrigeretor)
print(difference)

Enter total bottles20
Enter bottles in refrigeretor5
15

In [ ]:
charged_mobile=input("Enter charged mobile")
mobile_charging=input("Enter  mobile pluged in")
#type casting
sum= int(charged_mobile)+int(mobile_charging)
print(sum)

Enter charged mobile6
Enter  mobile pluged in2
8

In [ ]:
normal_people=input("Enter normal people")
people_glasses=input("Enter people that wear glasses")
#type casting
difference= int(normal_people)-int(people_glasses)
print(difference)

Enter normal people6
Enter people that wear glasses2
4

In [ ]:
bread_pack=input("Enter breads in a pack")
bread_eaten=input("Enter bread that are eaten")
#type casting
difference= float(bread_pack)-float(bread_eaten)
print(difference)

Enter breads in a pack12
Enter bread that are eaten7
5.0

In [ ]:
glass_with_water=input("Enter glasses with water")
glass_without_water=input("Enter glasses without water")
#type casting
difference= int(glass_with_water)-int(glass_without_water)
print(difference)

Enter glasses with water5
Enter glasses without water3
2

In [ ]:
plates_cubboard=input("Enter plates in a cubbard")
plates_used_eaten=input("Enter plates that are used  eating")
#type casting
sum= int(plates_cubboard)+int(plates_used_eaten)
print(sum)

Enter plates in a cubbard50
Enter plates that are used  eating12
62

In [ ]:
siblings=input("Enter siblings")
parents=input("Enter parents")
#type casting
sum= int(siblings)+int(parents)
print(sum)

Enter siblings4
Enter parents2
6

In [ ]:
male_family_members=input("Enter male family members")
female_family_members=input("Enter female family members")
#type casting
sum= int(male_family_members)+int(female_family_members)
print(sum)

Enter male family members1
Enter female family members5
6

In [ ]:
closed_doors=input("Enter closed doors")
opened_doors=input("Enter opened doors")
#type casting
sum= int(closed_doors)+int(opened_doors)
print(sum)

Enter closed doors5
Enter opened doors2
7

In [ ]:
total_teachers=input("Enter total teachers")
teachers_teaching=input("Enter teachers who teach")
#type casting
difference= int(total_teachers)-int(teachers_teaching)
print(difference)

Enter total teachers30
Enter teachers who teach18
12

In [ ]:
student_total=input("Enter total students ")
student_absent=input("Enter student absent")
#type casting
difference= float(student_total)-float(student_absent)
print(difference)

Enter total students 55
Enter student absent12
43.0

In [ ]:
tables_reserved=input("Enter tables that are reserved")
tables_free=input("Enter tables that are free")
#type casting
sum= int(tables_reserved)+int(tables_free)
print(sum)

Enter tables that are reserved8
Enter tables that are free10
18

In [ ]:
phone_in_store=input("Enter phones in store")
phone_sold=input("Enter phones sold")
#type casting
difference= float(phone_in_store)-float(phone_sold)
print(difference)

Enter phones in store15
Enter phones sold5
10.0

In [ ]:
used_pencils=input("Enter used pencils")
total_pencils=input("Enter total pencils")
#type casting
difference= int(used_pencils)-int(total_pencils)
print(difference)

Enter used pencils25
Enter total pencils5
20

In [ ]:
members_talking=input("Enter members talking")
members_listening=input("Enter members listening")
#type casting
sum= int(members_talking)+int(members_listening)
print(sum)

Enter members talking2
Enter members listening3
5

In [ ]:
people_city=input("Enter people in city")
people_village=input("Enter people in village")
#type casting
sum= int(people_city)+int(people_village)
print(sum)

Enter people in city22000
Enter people in village6000
28000

In [ ]:
healthy_people=input("Enter healthy people")
sick_people=input("Enter sick people")
#type casting
difference= int(healthy_people)-int(sick_people)
print(difference)

Enter healthy people10
Enter sick people4
6

In [ ]:
educated_people=input("Enter educated people")
uneducated_people=input("Enter uneducated people")
#type casting
sum= float(educated_people)+float(uneducated_people)
print(sum)

Enter educated people1000
Enter uneducated people89
1089.0

In [ ]:
class_mates=input("Enter class mates")
friends=input("Enter friends")
#type casting
difference= int(class_mates)-int(friends)
print(difference)

Enter class mates55
Enter friends4
51

In [ ]:
in_stock=input("Enter in stock")
sold=input("Enter sold")
#type casting
difference= int(in_stock)-int(sold)
print(difference)

Enter in stock500
Enter sold200
300

In [ ]:
books_read=input("Enter books read")
books_unread=input("Enter books un read")
#type casting
difference= float(books_read)-float(books_unread)
print(difference)

Enter books read20
Enter books un read8
12.0

In [ ]:
kids_playing=input("Enter kids playing")
kids_not_playing=input("Enter kids not playing")
#type casting
sum= float(kids_playing)+float(kids_not_playing)
print(sum)

Enter kids playing100
Enter kids not playing50
150.0