In [ ]:
#20 integers variables
num=1
num1=2
num2=3
num3=4
num4=51
num5=6
num6=73
num7=83
num8=91
num9=10
num10=11
num11=243
num12=334
num13=433
num14=679
num15=980
num16=897
num17=43
num18=32
num19=54

print(num,num1,num2,num3,num4,num5,num6,num7,num8,num9,num10,num11,num12,num13,num14,num15,num16,num17,num18,num19)

1 2 3 4 51 6 73 83 91 10 11 243 334 433 679 980 897 43 32 54

In [ ]:
#20 float variables
fl1=4.1
fl2=4.2
fl3=4.3
fl4=4.4
fl5=4.5
fl6=4.6
fl7=4.7
fl8=4.8
fl9=4.9
fl10=5.0
fl11=5.1
fl12=5.2
fl13=5.3
fl14=5.4
fl15=5.5
fl16=5.6
fl17=5.7
fl18=5.8
fl19=5.9
fl20=6.0
print(fl1,fl2,fl3,fl4,fl5,fl6,fl7,fl8,fl9,fl10,fl11,fl12,fl13,fl14,fl15,fl16,fl17,fl18,fl19,fl20)

4.1 4.2 4.3 4.4 4.5 4.6 4.7 4.8 4.9 5.0 5.1 5.2 5.3 5.4 5.5 5.6 5.7 5.8 5.9 6.0

In [ ]:
from re import T
#20 boolean data types
#personal info
muslim=True
pakistani=True
villager=True
bahawalpuri=False
saraiki=False
punjabi=True
#fields of interest
space=False
time=False
robotics=True
computervision=False
hacking=True
cricket=True
gaming=False
tiktok=True
#skills
programming=False
management=True
problemsolving=True
cooking=False
sports=True
farming=True
print(muslim,pakistani,villager,bahawalpuri,saraiki,punjabi,space,time,computervision,robotics,hacking,cricket,gaming,tiktok,programming,management,problemsolving,cooking,sports,farming)

True True True False False True False False False True True True False True False True True False True True

In [ ]:
#20 strings
name="zohaib"
cast="dogar"
age="20"
religion="islam"
language="punjabi"
city="raja ram"
residence="village"
uni="iub"
depart="AI"
faculty="Computing "
sem="5th 1m"
rollno="022"
cgpa="3.52"
course="AI CADMEY"
batch="Winter 2025"
rn="25"
hstl="commercial area"
sports="cricket"
batsman="Babar AzaM"
footballer="Ronaldo"
print(name,cast,age,religion,language,city,residence,uni,depart,faculty,sem,rollno,cgpa,course,batch,rn,hstl,sports,batsman,footballer)

zohaib dogar 20 islam punjabi raja ram village iub AI Computing  5th 1m 022 3.52 AI CADMEY Winter 2025 25 commercial area cricket Babar AzaM Ronaldo