# Example.

In [ ]:
qualification= int(input(" enter qualification:"))
marks=int(input("enter marks:"))
potential=int(input("enter potential:"))


w1=0.1
w2=0.1
w3=0.8

result=(qualification*w1)+(marks*w2)+(potential*w3)
print(result)

if result>=70:
   print(" you got admission in AIC")
else:
  print("wait for next time.")

 enter qualification:2
enter marks:60
enter potential:85
74.2
 you got admission in AIC

# **HERE ARE THE 10 EXAMPLES.**

# EXAMPLE:1

In [ ]:
mobile=int(input("enter the model:"))
price=int(input("enter the price:"))

w1=0.2
w2=0.4

result=( mobile*w1)+(price*w2)
print(result)

enter the model:4
enter the price:70000
28000.8

# Example:2

In [ ]:
shake1=int(input("enter the shake1:"))
shake2=int(input("enter the shake:2"))
shake3=int(input("enter the shake3:"))
shake4=int(input("enter the shake4:"))

w1=0.22
w2=0.44
w3=4.2
w4=0.3

result=( shake1*w1)+(shake2*w2)+(shake3*w3)+(shake4*w4)
print(result)

enter the shake1:120
enter the shake:260
enter the shake3:160
enter the shake4:400
844.8

# Example:3

In [ ]:
glaxayStar1=int(input("enter the star1:"))
glaxayStar2=int(input("enter the star2:"))
glaxayStar3=int(input("enter the star3:"))
glaxayStar4=int(input("enter the star4:"))
glaxayStar5=int(input("enter the star5:"))
glaxayStar6=int(input("enter the star6:"))

w1=0.23
w2=0.03
w3=0.8
w4=0.44
w5=4.1
w6=2.3

result=( glaxayStar1*w1)+(glaxayStar2*w2)+(glaxayStar3*w3)+(glaxayStar4*w4)+(glaxayStar5*w5)+(glaxayStar6*w6)
print(result)

if glaxayStar3>=70:
   print(" achevie your goal")
else:
  print("do 2nd attempt.")

enter the star:6
enter the star:80
enter the star:65
8.580000000000002
do 2nd attempt.

# Example:4

In [ ]:
junkFood=int(input("enter the junkFood1:"))
junkFood2=int(input("enter the junkFood2:"))
junkFood3=int(input("enter the junkFood3:"))
junkFood4=int(input("enter the junkFood4"))
junkFood5=int(input("enter the junkFood5:"))
junkFood6=int(input("enter the junkFood6:"))
junkFood7=int(input("enter the junkFood7:"))
junkFood8=int(input("enter the junkFood8"))

w1=80
w2=120
w3=160
w4=400
w5=54
w6=0.33
w7=0.15
w8=0.45


result=( junkFood*w1)+(junkFood2*w2)+(junkFood3*w3)+(junkFood4*w4)+(junkFood5*w5)+(junkFood6*w6)+(junkFood7*w7)+(junkFood8*w8)
print(result)

if junkFood3>=100:
   print(" you have to buy it .")

else:
  print("save your money.")

enter the junkFood1:10
enter the junkFood2:20
enter the junkFood3:30
enter the junkFood440
enter the junkFood5:50
enter the junkFood6:60
enter the junkFood7:70
enter the junkFood880
24000
save your money.

# Example:5

In [ ]:
subject1 = int(input("Enter marks for Subject 1: "))
subject2 = int(input("Enter marks for Subject 2: "))
subject3 = int(input("Enter marks for Subject 3: "))
subject4 = int(input("Enter marks for Subject 4: "))
subject5 = int(input("Enter marks for Subject 5: "))
subject6 = int(input("Enter marks for Subject 6: "))
subject7 = int(input("Enter marks for Subject 7: "))
subject8 = int(input("Enter marks for Subject 8: "))
subject9 = int(input("Enter marks for Subject 9: "))
subject10 = int(input("Enter marks for Subject 10: "))

w1=60
w2=40
w3=80
w4=65
w5=90
w6=20
w7=3.3
w8=15
w9=93
w10=0.3

result=(subject1*w1)+(subject2*w2)+(subject3*w3)+(subject4*w4)+(subject5*w5)+(subject6*w6)+(subject7*w7)+(subject8*w8)+(subject9*w9)+(subject10*w10)
print(result)



if subject1 >= 75:
    print("You passed with distinction!")
elif subject2 >= 50:
    print("good attempt")
elif subject3 <=70:
  print(" revise again ")
elif subject4 >=90 :
  print(" need imporvements.")
else:
    print("You failed. Better luck next time.")

Enter marks for Subject 1: 30
Enter marks for Subject 2: 20
Enter marks for Subject 3: 40
Enter marks for Subject 4: 50
Enter marks for Subject 5: 60
Enter marks for Subject 6: 70
Enter marks for Subject 7: 80
Enter marks for Subject 8: 90
Enter marks for Subject 9: 45
Enter marks for Subject 10: 85
 revise again

# Example: 6

In [ ]:
rent = int(input("Enter your monthly rent: "))
groceries = int(input("Enter your monthly groceries expense: "))
transport = int(input("Enter your monthly transport expense: "))
entertainment = int(input("Enter your monthly entertainment expense: "))
food= int(input("enter your food expense:"))
shopping= int(input("enter your shopping expense:"))
budget=int(input(" enter your budget:"))
routine=int(input("enter your routine expense:"))
monthly=int(input(" enter your monthly expense:"))
saving=int(input("enter your saving:"))
event=int(input(" enter your event expence:"))
yearly=int(input(" enter your yearly expence:"))

w1=6000
w2=0.66
w3=0.80
w4=3.56
w5=40000
w6=5000
w7=3.3
w8=4.4
w9=4.44
w10=0.3
w11=0.33
w12=0.43

result=(rent*w1)+(groceries*w2)+(transport*w3)+(entertainment*w4)+(food*w5)+(shopping*w6)+(budget*w7)+(routine*w8)+(monthly*w9)+(saving*w10)+(event*w11)+(yearly*w12)
print(result)

if shopping >=2000:
    print("You are overspending! Try to save.")
else:
    print("You are within your budget.")

Enter your monthly rent: 20000
Enter your monthly groceries expense: 40
Enter your monthly transport expense: 89
Enter your monthly entertainment expense: 21
enter your food expense:13
enter your shopping expense:50
 enter your budget:89
enter your routine expense:29
 enter your monthly expense:120
enter your saving:15
 enter your event expence:90
 enter your yearly expence:100000
You are within your budget.

# Example:7

In [ ]:
monday = int(input("Enter hours worked on Monday: "))
tuesday = int(input("Enter hours worked on Tuesday: "))
wednesday = int(input("Enter hours worked on Wednesday: "))
thursday = int(input("Enter hours worked on Thursday: "))
friday = int(input("Enter hours worked on Friday: "))
saturday = int(input("Enter hours worked on Saturday: "))
sunday = int(input("Enter hours worked on Sunday: "))
jan=int(input("enter the jan:"))
feb=int(input("enter the feb:"))
mar=int(input("enter the mar:"))
apr=int(input("enter the apr:"))
may=int(input("enter the may:"))
jun=int(input("enter the jun:"))
july=int(input("enter the july:"))


w0=40
w1=4.4
w2=4.3
w3=3.5
w4=6.2
w5=0.22
w6=0.42
w7=6.4
w8=400
w9=60
w10=300
w11=58
w12=400
w13=4.00

result=(monday*w0)+(tuesday*w1)+(wednesday*w2)+(thursday*w3)+(friday*w4)+(saturday*w5)+(sunday*w6)+(jan*w7)+(feb*w8)+(mar*w9)+(apr*w10)+(may*w11)+(jun*w12)+(july*w13)
print(result)

if friday > 40:
    print("Great job! You've worked overtime!")
else:
    print("You worked regular hours.")

Enter hours worked on Monday: 2
Enter hours worked on Tuesday: 3
Enter hours worked on Wednesday: 4
Enter hours worked on Thursday: 5
Enter hours worked on Friday: 3
Enter hours worked on Saturday: 6
Enter hours worked on Sunday: 2
enter the jan:20
enter the feb:30
enter the mar:40
enter the apr:10
enter the may:12
enter the jun:9
enter the july:7
You worked regular hours.

# Example:8

In [ ]:
meal1 = int(input("Enter calories for Meal 1: "))
meal2 = int(input("Enter calories for Meal 2: "))
meal3 = int(input("Enter calories for Meal 3: "))
meal4 = int(input("Enter calories for Meal 4: "))
meal5 = int(input("Enter calories for Meal 5: "))
meal6 = int(input("Enter calories for Meal 6: "))
meal7 = int(input("Enter calories for Meal 7: "))
meal8 = int(input("Enter calories for Meal 8: "))
meal9 = int(input("Enter calories for Meal 9: "))
meal10 = int(input("Enter calories for Meal 10: "))
meal11= int(input("Enter calories for Meal 11: "))
meal12= int(input("Enter calories for Meal 12: "))
meal13 = int(input("Enter calories for Meal 13: "))
meal14= int(input("Enter calories for Meal 14: "))
meal15= int(input("Enter calories for Meal 15: "))
meal16= int(input("Enter calories for Meal 16: "))



w1=0.33
w2=4.5
w3=7.9
w4=7.4
w5=9.4
w6=9.4
w7=1.9
w8=3.33
w9=3.3
w10=0.3
w11=6.4
w12=8.1
w13=1.33
w14=90
w15=43
w16=120

result=(meal1*w1)+(meal2*w2)+(meal3*w3)+(meal4*w4)+(meal5*w5)+(meal6*w6)+(meal7*w7)+(meal8*w8)+(meal9*w9)+(meal10*w10)+(meal11*w11)+(meal12*w12)+(meal13*w13)+(meal14*w14)+(meal15*w15)+(meal16*w16)
print(result)


if  meal13 > 2000:
    print("You have exceeded your daily calorie limit!")
else:
    print("You are within your daily calorie goal.")

Enter calories for Meal 1: 20
Enter calories for Meal 2: 40
Enter calories for Meal 3: 50
Enter calories for Meal 4: 500
Enter calories for Meal 5: 60
Enter calories for Meal 6: 70
Enter calories for Meal 7: 80
Enter calories for Meal 8: 90
Enter calories for Meal 9: 100
Enter calories for Meal 10: 120
Enter calories for Meal 11: 130
Enter calories for Meal 12: 140
Enter calories for Meal 13: 200
Enter calories for Meal 14: 300
Enter calories for Meal 15: 22
Enter calories for Meal 16: 450
You are within your daily calorie goal.

# example:9

In [ ]:
# Inputs for Science scores
science1 = int(input("Enter Science score for Test 1: "))
science2 = int(input("Enter Science score for Test 2: "))
science3 = int(input("Enter Science score for Test 3: "))
science4 = int(input("Enter Science score for Test 4: "))
science5 = int(input("Enter Science score for Test 5: "))
science6 = int(input("Enter Science score for Test 6: "))

# Inputs for English scores
english1 = int(input("Enter English score for Test 1: "))
english2 = int(input("Enter English score for Test 2: "))
english3 = int(input("Enter English score for Test 3: "))
english4 = int(input("Enter English score for Test 4: "))
english5 = int(input("Enter English score for Test 5: "))
english6 = int(input("Enter English score for Test 6: "))


w1=1.0
w2=2.0
w3=1.8
w4=1.5
w5=1.55
w6=22
w7=40
w8=20
w9=28
w10=35
w11=3.0
w12=40
w13=3.9
w14=25
w15=90
w16=2.01


result=(science1*w1)+(science2*w2)+(science3*w3)+(science4*w4)+(science5*w5)+(science6*w6)+(english1*w7)+(english2*w8)+(english3*w9)+(english4*w10)+(english5*w11)+(english6*w12)
print(result)



if science2 >= 90:
    print("Excellent performance!")
elif english4 >= 75:
    print("Good job, keep it up!")
else:
    print("You need to work harder.")

Enter Science score for Test 1: 3
Enter Science score for Test 2: 2
Enter Science score for Test 3: 4
Enter Science score for Test 4: 5
Enter Science score for Test 5: 6
Enter Science score for Test 6: 1
Enter English score for Test 1: 12
Enter English score for Test 2: 12
Enter English score for Test 3: 14
Enter English score for Test 4: 16
Enter English score for Test 5: 200
Enter English score for Test 6: 80
5525.0
You need to work harder.

# EXAMPLE:10

In [ ]:
#Round 1 score
player1_round1 = int(input("Enter Player 1 score for Round 1: "))
player2_round1 = int(input("Enter Player 2 score for Round 1: "))
player3_round1 = int(input("Enter Player 3 score for Round 1: "))
player4_round1 = int(input("Enter Player 4 score for Round 1: "))

# Round 2 scores
player1_round2 = int(input("Enter Player 1 score for Round 2: "))
player2_round2 = int(input("Enter Player 2 score for Round 2: "))
player3_round2 = int(input("Enter Player 3 score for Round 2: "))
player4_round2 = int(input("Enter Player 4 score for Round 2: "))

# Round 3 scores
player1_round3 = int(input("Enter Player 1 score for Round 3: "))
player2_round3 = int(input("Enter Player 2 score for Round 3: "))
player3_round3 = int(input("Enter Player 3 score for Round 3: "))
player4_round3 = int(input("Enter Player 4 score for Round 3: "))

# Round 4 scores
player1_round4 = int(input("Enter Player 1 score for Round 4: "))
player2_round4 = int(input("Enter Player 2 score for Round 4: "))
player3_round4 = int(input("Enter Player 3 score for Round 4: "))
player4_round4 = int(input("Enter Player 4 score for Round 4: "))

# Round 5 scores
player1_round5 = int(input("Enter Player 1 score for Round 5: "))
player2_round5 = int(input("Enter Player 2 score for Round 5: "))
player3_round5 = int(input("Enter Player 3 score for Round 5: "))
player4_round5 = int(input("Enter Player 4 score for Round 5: "))



w1=3.3
w2=0.1
w3=0.22
w4=6.4
w5=4.5
w6=4.4
w7=4.4
w8=2.2
w9=1.2
w10=2.2
w11=3.3
w12=0.40
w13=4.4
w14=8.1
w15=4.2
w16=1.3
w17=2.3
w18=3.2
W19=4.3
W20=0.22


result=(player1_round1*w1)+(player2_round1*w2)+(player3_round1*w3)+(player4_round1*w4)+(player1_round2*w5)+(player2_round2*w6)+(player3_round2*w7)+(player4_round2*w8)+(player1_round3*w9)+(player2_round3*w10)+(player3_round3*w11)+(player4_round3*w12)+(player1_round4*w13)+(player2_round4*w14)+(player3_round4*w15)+(player4_round4*w16)+(player1_round5*w17)+(player2_round5*w18)14

print(result)

# Determine the winner
if player1_round1 > player2_round1 and player1_round1 > player3_round1 and player1_round1 > player4_round1:
    print("Player 1 is the winner!")
else:
    print("It's a tie!")

Enter Player 1 score for Round 1: 12
Enter Player 2 score for Round 1: 2
Enter Player 3 score for Round 1: 14
Enter Player 4 score for Round 1: 10
Enter Player 1 score for Round 2: 3
Enter Player 2 score for Round 2: 5
Enter Player 3 score for Round 2: 7
Enter Player 4 score for Round 2: 9
Enter Player 1 score for Round 3: 2
Enter Player 2 score for Round 3: 42
Enter Player 3 score for Round 3: 18
Enter Player 4 score for Round 3: 19
Enter Player 1 score for Round 4: 22
Enter Player 2 score for Round 4: 29
Enter Player 3 score for Round 4: 41
Enter Player 4 score for Round 4: 50
Enter Player 1 score for Round 5: 31
Enter Player 2 score for Round 5: 42
Enter Player 3 score for Round 5: 32
Enter Player 4 score for Round 5: 7
1129.38
It's a tie!

# **THE END.**