** Comparison Operators**

**== (Equal to)**

In [ ]:
# example1
num1 = 3
num2 = 2
print(num1 == num2)

False

In [ ]:
# example2
attack = "hello"
Attack = "Hello"
print(attack == Attack)

False

In [ ]:
# example3
nums = [1, 2, 3]
Nums = [1, 2, 3]
print(nums == Nums)

True

In [ ]:
# example4
digit = 10
Digit = 15
print( digit == Digit)

False

In [ ]:
# example5
VPN = True
vpn = 1
print(VPN == vpn)

True

**!= (Not equal to)**

In [ ]:
# example1
alpha = 7
beta = 5
print(alpha != beta)

True

In [ ]:
# example2
planet = "abc"
blanet = "ABC"
print(planet != blanet)

True

In [ ]:
# example3
rover = 8
Rover = 8
print(rover != Rover)

False

In [ ]:
# example4
nebula = [1, 2]
Nebula = [1, 2]
print(nebula != Nebula)

False

In [ ]:
# example5
fire = None
Fire = 0
print(fire != Fire)

True

**< (Less than)**

In [ ]:
# example1
Black = 3
hole = 5
print(3 < 5)

True

In [ ]:
# example2
fire_wall = 10
Fire_wall = 10
print(fire_wall < Fire_wall)

False

In [ ]:
# example3
galaxy = -1
Galaxy = 0
print(galaxy < Galaxy)

True

In [ ]:
# example4
universe = 100
Universe = 99
print(universe < Universe)

False

In [ ]:
# examplr5
num3 = 2.5
num4 = 3
print(num3 < num4)

True

**> (Greater than)**

In [ ]:
# example1
code = 10
Code = 5
print(code > Code)

True

In [ ]:
# example2
mission = 15
Mission = 20
print( mission > Mission)

False

In [ ]:
# example3
space = 3.4
Space = 2.5
print(space > Space)

True

In [ ]:
# example4
Aero_space = 7
aero_space = 7
print(Aero_space > aero_space)

False

In [ ]:
# example5
linux = -1
Linux = -5
print(linux > Linux)

True

**<= (Less than or equal to)**

In [ ]:
# example1
apes = 5
Apes = 5
print(apes <= Apes)

True

In [ ]:
# example2
mars = 4
MArs = 3
print(mars <= MArs)

False

In [ ]:
# example3
venus = 2.2
Venus = 2.5
print(venus <= Venus)

True

In [ ]:
# example 4
zero = 0
Zero = 0
print(zero <= Zero)

True

In [ ]:
# example5
earth = 10
Earth = 9
print(earth <= Earth)

**>= (Greater than or equal to**

In [ ]:
# example1
mercury = 5
Mercury = 3
print(mercury >= Mercury)

True

In [ ]:
# example2
neptune = 6
Neptune = 6
print(neptune >= Neptune)

True

In [ ]:
# example3
pluto = 3
Pluto = 4
print(pluto >= Pluto)

False

In [ ]:
# example4
jupiter = 2.5
Jupiter = 2.1
print(jupiter >= Jupiter)

True

In [ ]:
# example5
andromeda = 0
Andromeda = 1
print(andromeda >= Andromeda)

False

** Logical Operators**

**and**

In [ ]:
# example1
tad_pole = 10
Tad_pole = 20
# here, i used and operator, if both the values are trure, it will give true in output
print( tad_pole > 5 and Tad_pole > 15)

True

In [ ]:
# example2
alpha = 20
Alpha = 10
# here, i used and operator, if both the values are trure, it will give true in output
print(alpha > 5 and Alpha < 15)

True

In [ ]:
# example3
uranus = "moon"
Uranus = "moon"
# here, i used and operator, if both the values are trure, it will give true in output
print(uranus == "moon" and Uranus == "moon")

True

In [ ]:
# example4
Earth = "soil"
earth = "soil"
# here, i used and operator, if both the values are trure, it will give true in output
print(Earth == "soil" and earth == "soil")

True

In [ ]:
# example5
Earth = 3.55
earth = 3.55
# here, i used and operator, if both the values are trure, it will give true in output
print(Earth == 3.55 and earth == 3.55)

True

**OR Operator**

In [ ]:
# example1
moon = None
Moon = "Hello Earth"
# here , i used "or operator", in this if only one value is true, it will give true in output
print(moon or Moon)

Hello Earth

In [ ]:
# example2
alpha = 0
Alpha = 22
# here , i used "or operator", in this if only one value is true, it will give true in output
print(alpha or Alpha)

22

In [ ]:
# example3
rain = False
snow = True
# here , i used "or operator", in this if only one value is true, it will give true in output
print(rain or snow)

True

In [ ]:
# example4
alien = ""
Alien = "You are alive"
# here , i used "or operator", in this if only one value is true, it will give true in output
print(alien or Alien)

You are alive

In [ ]:
# example5
java = 100
Java = None
# here , i used "or operator", in this if only one value is true, it will give true in output
print(java or Java)

100

**Not operator**

In [ ]:
# example1
Net = True
# here i used not operator, it will inverse the values in output
print(not(Net))

False

In [ ]:
# example2
wire = 4
Wire = 2
# here , i used "or operator", in this if only one value is true, it will give true in output
print(not(wire, Wire))

False

In [ ]:
# example3
word = False
# here , i used "or operator", in this if only one value is true, it will give true in output
print(not(word))

True

In [ ]:
# example4
condition = True
print(not(condition))

False

In [ ]:
# example5
conf = True
print(not(conf))

False