In [ ]:
#EQUAL TO OPERATOR ==
#variable 1
num1=8
num2=5
print(num1==num2)

#variable 2
a=98
b=98.0
print(a==b)

#variable 3
name="zaibi"
cast="dogar"
print(name==cast)

#variable 4
name="zaibi"
cast="zaibi"
print(name==cast)

#variable 5
bol=True
bool=1
print(bol==bool)

False
True
False
True
True

In [ ]:
#not equal to operator !=
#variable 1
x=5.6
y=5.699
print(x!=y)

#variable 2
a="zaibi"
b="Zaibi"
print(a!=b)

#variable 3
name="zaibi"
cast="zaibi"
print(name!=cast)

#variable 4
bol=True
bool=0
print(bol!=bool)

#variable 5
num=5
num2=5.678
print(num!=num2)

True
True
False
True
True

In [ ]:
#greater than operator >
#variable 1
num1=6
num2=5
print(num1>num2)

#variable 2
num3=76
num4=76.98
print(num3>num4)

#variable 3
num5=90
num6=83
print(num5>num6)

#variable 4
name="zaibi"
uni="iub"
print(name>uni)

#variable 5
bol=True
bool=1
print(bol>bool)

True
False
True
True
False

In [ ]:
#less than operator <
#variable 1
num1=7
num2=9
print(num1<num2)

#variable 2
num3=90
num4=90.67
print(num3<num4)

#variable 3
bol=False
bool=1
print(bol<bool)

#variable 4
nm="zaibi"
un="iub"
print(nm<un)

#variable 5
fl=9.89
flt=9.79
print(fl<flt)

True
True
True
False
False

In [ ]:
#greater than equal to >=
#variable 1
num1=5
num2=5.0
print(num1>=num2)

#variable 2
name="zaibi dogar"
dept="Zaibi Dogar"
print(name>=dept)

#variable 3
bol=False
bool=1
print(bol>=bool)

#variable 4
num4=90
num5=90.2
print(num4>=num5)

#variable 5
fl=9.89
flt=9.8
print(fl>=flt)

True
True
False
False
True

In [ ]:
#smaller than or equal
#variable 1
num1 = 5
num2 = 5.0
print(num1 <= num2)

#variable 2
name = "zaibi dogar"
dept = "Zaibi Dogar"
print(name <= dept)

#variable 3
bol = True
bool = 1
print(bol <= bool)

#variable 4
fl = 9.89
flt = 9.8
print(fl <= flt)

#variable 5
num4 = 90
num5 = 90
print(num4 <= num5)

True
False
True
False
True