In [ ]:

#Ex 1       # == ope
num1=1
num2=1
print(num1==num2)

#Ex 2
a=9
b=8
print(a==b)

#Ex 3
name1="habiba"
name2="shahid"
print(name1==name2)

#Ex 4
c="fruits"
d="vegetable"
print(c==d)

#Ex 5
bol=True
bool=1
print(bol==bool)

True
False
False
False
True

In [ ]:

#Ex 1             # != ope
a=1
b=2
print(a!=b)

#Ex 2
a="me"
b="me"
print(a!=b)

#Ex 3
name1="fruits"
name2="vegetable"
print(name1!=name2)

#Ex 4
bol=True
bool=0
print(bol!=bool)

#Ex 5
num1=45
num2=45
print(num1!=num2)

True
False
True
True
False

In [ ]:

#Ex 1                    # > ope
a=10
b=9
print(a>b)

#Ex 2
c=5
d=2
print(c>d)

#Ex 3
num1=50
num2=20
print(num1>num2)

#Ex 4
name1="me"
name2="my"
print(name1>name2)

#Ex 5
num3=67
num4=77
print(num3>num4)

True
True
True
False
False

In [ ]:

#Ex 1                        # < ope
a=1
b=2
print(a<b)

#Ex 2
c=5
d=5.0
print(num3<num4)

#Ex 3
num1=80
num2=90
print(num1<num2)

#Ex 4
name1="house"
name2="garden"
print(name1<name2)

#Ex 5
num3=77
num4=99
print(num3<num4)

True
True
True
False
True

In [ ]:

#Ex 1                  #  >= ope
a=3
b=5
print(a>=b)

#Ex 2
c="7"
d="7.0"
print(c>=d)

#Ex 3
num1=89
num2=89.1
print(num1>=num2)

#Ex 4
num4=10.1
num5=10
print(num4>=num5)

#Ex 5
name1="apple"
name2="banana"
print(name1>=name2)

False
False
False
True
False

In [ ]:

#Ex 1                     # <=
num1 = 1
num2 = 1.5
print(num1 <= num2)

#Ex 2
name1 = "habiba"
name2 = "habiba"
print(name1 <= name2)

#Ex 3
a=1
b=1.0
print(a<=b)

#Ex 4
c = 9.89
d = 9.8
print(c <= d)

#Ex 5
num4 = 90
num5 = 90
print(num4 <= num5)

True
True
True
False
True