Task 3
Practice for arithmetic operation.


● Sum operation:

In [ ]:

# sum two numbers
def sum_integers(num1, num2):
  """Sums two integers."""
  return num1 + num2

# Example usage:
result = sum_integers(212, 313)
print(result)

525

In [ ]:

#sum three  integers
def sum_integers(num1, num2,num3):
  """Sums three integers."""
  return num1 + num2 + num3

# Example usage:
result = sum_integers(0, 3, 5)
print(result)

8

In [ ]:
def sum_integers(num1, num2):
  """Sums two integers."""
  return num1 + num2

# Example usage:
result = sum_integers(5, 3)
print(result)

8

Sun of two floats:

In [ ]:

def main():

    num1 = float(input("Enter the first number: "))


    num2 = float(input("Enter the second number: "))

    # Calculate the sum
    total = num1 + num2


    print(f"The sum of {num1} and {num2} is: {total}")


if __name__ == "__main__":
    main()

Enter the first number: 2.09
Enter the second number: 67.4
The sum of 2.09 and 67.4 is: 69.49000000000001

In [ ]:
a=int(input('enter the first number'))
b=int(input('enter the second number'))
c=int(input ('enter the third number'))
print(a+b+c)

enter the first number21
enter the second number453
enter the third number086
560

● Subtract operation:

In [ ]:
#sub two integers

def sub_integers(num1, num2):
  """Subs two integers."""
  return num1 - num2

# Example usage:
result = sub_integers(26642, 135897)
print(result)

-109255

In [ ]:

# sub two integers.
a=int(input('enter the first number'))
b=int(input('enter the second number'))
print(a-b)

enter the first number435
enter the second number542
-107

In [ ]:
def sub_integers(num1, num2,num3):
  """Subs three integers."""
  return num1 - num2 - num3

# Example usage:
result = sub_integers(110, 973, 53332)
print(result)

-54195

In [ ]:
# Program to sum two integers and subtract another integer
def main():

    num1 = int(input("Enter the first integer: "))


    num2 = int(input("Enter the second integer: "))

    # enter the integer to subtract from num1 and num2
    num3 = int(input("Enter the integer to subtract: "))

    # Calculate the sum of the first two integers
    sum_result = num1 + num2

    # Subtract the third integer from the sum
    final_result = sum_result - num3

    # Display the results
    print(f"The sum of {num1} and {num2} is: {sum_result}")
    print(f"The final result after subtracting {num3} is: {final_result}")

# Run the program
if __name__ == "__main__":
    main()

Enter the first integer: 7654
Enter the second integer: 6548
Enter the integer to subtract: 532245
The sum of 7654 and 6548 is: 14202
The final result after subtracting 532245 is: -518043

In [ ]:
# program to subtract two floats.
def main():

    num1 = float(input("Enter the first number: "))


    num2 = float(input("Enter the second number: "))

    # Calculate the sub
    total = num1 - num2


    print(f"The sub of {num1} and {num2} is: {total}")


if __name__ == "__main__":
    main()

Enter the first number: 321.6
Enter the second number: 6322.9
The sub of 321.6 and 6322.9 is: -6001.299999999999

● Multiple opration.

In [ ]:
# *ly two numbers.
a=int(input('enter the first number'))
b=int(input('enter the second number'))
print(a*b)

enter the first number7654
enter the second number5666
43367564

In [ ]:

# *ly two floats
def main():

    num1 = float(input("Enter the first number: "))


    num2 = float(input("Enter the second number: "))

    # Calculate the sum
    total = num1 * num2


    print(f"The multiply of {num1} and {num2} is: {total}")


if __name__ == "__main__":
    main()

Enter the first number: 4222.9
Enter the second number: 6443
The multiply of 4222.9 and 6443.0 is: 27208144.7

In [ ]:
def mul_integers(num1, num2,num3):
  """Mul three integers."""
  return num1 * num2 * num3

# Example usage:
result = mul_integers(10, 38, 5976)
print(result)

2270880

In [ ]:


# *ly two integers.
def mul_integers(num1, num2):
  """Muls two integers."""
  return num1 * num2

# Example usage:
result = mul_integers(212, 313)
print(result)

66356

In [ ]:
57a=int(input('enter the first number'))
b=int(input('enter the second number'))
c=int(input ('enter the third number'))
print(a*b*c)

enter the first number6533
enter the second number3
enter the third number67
1313133

● / operation:

In [ ]:
7#Division of three numbers
a=int(input('enter the first number'))
b=int(input('enter the second number'))
c=int(input ('enter the third number'))
print(a/b/c)

enter the first number7644
enter the second number655
enter the third number87
0.1341405633061332

In [ ]:
def div_integers(num1, num2):
  """divs two integers."""
  return num1 / num2

# Example usage:
result = div_integers(212, 313)
print(result)

0.6773162939297125

In [ ]:
def main():

    num1 = float(input("Enter the first number: "))


    num2 = float(input("Enter the second number: "))

    # Calculate the div
    total = num1 / num2


    print(f"The div of {num1} and {num2} is: {total}")


if __name__ == "__main__":
    main()

Enter the first number: 6533
Enter the second number: 6544
The div of 6533.0 and 6544.0 is: 0.9983190709046454

In [ ]:
def sum_integers(num1, num2,num3):
  """Sums three integers."""
  return num1 + num2 + num3

# Example usage:
result = sum_integers(0, 3, 5)
print(result)

In [ ]:
a=int(input('enter the first number'))
b=int(input('enter the second number'))
print(a/b)

enter the first number5432
enter the second number644
8.434782608695652

In [ ]:

# how to remove error if we / it 1/0, it does not show infinity.
a=int(input('enter the first number'))
b=int(input('enter the second number'))
print(a/b)

enter the first number1
enter the second number0

ZeroDivisionError: division by zero

● Module option.

In [ ]:
a=int(input('enter the first number'))
b=int(input('enter the second number'))
print(a%b)

enter the first number754
enter the second number86
66

In [ ]:
5a=int(input('enter the first number'))
b=int(input('enter the second number'))
c=int(input ('enter the third number'))
print(a+b%c) #helps me to find correct answer by calculator.

enter the first number664
enter the second number567
enter the third number9776
1231

In [ ]:
def mod_integers(num1, num2,num3):
  """Mods three integers."""
  return num1 % num2 % num3

# Example usage:
result = mod_integers(77, 377, 58)
print(result)

19

In [ ]:
def main():

    num1 = float(input("Enter the first number: "))


    num2 = float(input("Enter the second number: "))

    # Calculate the mod
    total = num1 % num2


    print(f"The mod of {num1} and {num2} is: {total}")


if __name__ == "__main__":
    main()

Enter the first number: 65444
Enter the second number: 65444
The mod of 65444.0 and 65444.0 is: 0.0

In [ ]:
a=int(input('enter the first number'))
b=int(input('enter the second number'))
c=int(input ('enter the third number'))
print(a-b%c)

enter the first number543
enter the second number6544
enter the third number65433
7087

● Assignment part (b)

In [ ]:
#Simple Assignment(=)
x = 10  # let assigns the value 10 to the variable x

In [ ]:
#Addition Assignment (+=)
x += 5  # Equivalent to x = x + 5

In [ ]:
#Division Assignment (/=)
x /= 4  # Equivalent to x = x / 4

In [ ]:
#Modulus Assignment (%=)
x %= 3  # Equivalent to x = x % 3

In [ ]:
#Subtraction Assignment (-=)
x -= 3  # Equivalent to x = x - 3