In [ ]:

#Ex 1          #and ope
x = 5
print(x > 0 and x< 20)

#Ex 2
str1 = "mango"
str2 = "banana"

print("m" in str1 and "b" in str2)

#Ex 3
num1=30
print(num1>50 and num1<20)

#Ex 4
bol=True
print(bol>0 and bol is False)

#Ex 5
y=4
print(y>4.9 and y==5.0)

True
True
False
False
False

In [ ]:

#Ex 1                 #oR ope
x=3
print(x>0 or x<10)

#Ex 2
a=5
b=7
print(a>6 or b==9)

#Ex 3
num1=50
print(num1<40 or num1<70)

#Ex 4
bol=False
print(bol<0 or bol is True)

#Ex 5
y=3
print(y<2.9 or y==3.0)

True
False
True
False
True

In [ ]:

#EX 1            #not ope
st1 = "apple"
print(not "a" in st1)

#Ex 2
bol = True
print(not 0)

#Ex 3
x = 2
print(not x > 10)

#Ex 4
num1 = 57
print(not (num1 > 50 and num1 < 60))

#Ex 5
y = 4
print(not y == 4)

False
True
True
False
False