In [ ]:
#AND opeator
#variable 1
x = 5
print(x > 0 and x< 20)

#variable 2
st1 = "iron man"
st2 = "world war 3"

print("n" in st1 and "2" in st2)

#variable 3
num1=67
print(num1>56 and num1<70)

#variable 4
bol=True
print(bol>0 and bol is False)

#variable 5
y=5
print(y>4.9 and y==5.0)

True
False
True
False
True

In [ ]:
#or operator
#variable 1
x=2
print(x>0 or x<20)

#variable 2
a=6
b=9
print(a>8 or b==10)

#variable 3
num1=67
print(num1<56 or num1<70)

#variable 4
bol=True
print(bol<0 or bol is False)

#variable 5
y=5
print(y<4.9 or y==5.0)

True
False
True
False
True

In [ ]:
#not operator
#variable 1
st1 = "iron man"
print(not "m" in st1)

#variable 2
bol = True
print(not 0)

#variable 3
x = 5
print(not x > 10)

#variable 4
num1 = 67
print(not (num1 > 60 and num1 < 70))

#variable 5
y = 5
print(not y == 5)

False
True
True
False
False