In [ ]:
#comparison operators
# (==)
a = 10
b = 10
if a == b:
    print(" x is equal to y")

 x is equal to y

In [ ]:
ali = 52
raza = 52
if ali == raza:
    print(" ali is equal to raza")

 ali is equal to raza

In [ ]:
x = "ai"
y = "ai"
if x == y:
    print("both values are same")

both values are same

In [ ]:
XY = "FANS"
YY = "FANS"
if XY == YY:
    print(" boths are fans")

 boths are fans

In [ ]:
a = "ali"
b = "ali"
if a == b:
    print("both names are same")

both names are same

In [ ]:
# != operator
x = 10
y = 5
if x != y:
    print("x is not equal to y")

x is not equal to y

In [ ]:
a = 25
b = 20
if a != b:
    print("a is not equal to B")

a is not equal to B

In [ ]:
ali = "AI"
Raza = "CADMEY"
if ali != Raza:
    print("ali is not equal to Raza")

ali is not equal to Raza

In [ ]:
num1 = 10
num2 = 5
if num1 != num2:
    print("The numbers are not equal")

The numbers are not equal

In [ ]:
name1 = "mubashir"
name2 = "hassan"
if name1 != name2:
    print("The names are different")

The names are different

In [ ]:
# less than < operator
x = 5
y = 10
if x < y:
    print("x is less than y")

x is less than y

In [ ]:
a = 6
y = 7
if a < y:
    print(" a chota hai y sy")

 a chota hai y sy

In [ ]:
ali = "hassan"
Raza = "hussain"
if ali < Raza:
    print( " mera code meri marzi")

 mera code meri marzi

In [ ]:
a = 15
b = 20
if a < b:
    print("a is less than b")

a is less than b

In [ ]:
ab = 25
bb = 25.5
if ab < bb:
    print(" ab nikka hai bb sy")

 ab nikka hai bb sy

In [ ]:
# greater than > operator
x = 10
y = 5
if x > y:
    print("x is greater than y")

x is greater than y

In [ ]:
a = 20
b = 15
if a > b:
    print("a is greater than b")

a is greater than b

In [ ]:
ali = 25
if ali > 20:
    print("ali bra hogya")

ali bra hogya

In [ ]:
mubashir = "bht mehnti hai"
if mubashir > "agr mehnat kry to":
    print(" mubashir waqae mehnti hai")

 mubashir waqae mehnti hai

In [ ]:
aa = 3.14159
bb = 2.71828
if aa > bb:
    print("aa is greater than bb")

aa is greater than bb

In [ ]:
#<= less than equal to
x = 10
y = 10
if x <= y:
    print("x is less than or equal to y")

x is less than or equal to y

In [ ]:
a = 5
b = 5
if a <= b:
    print("a is less than or equal to b")

a is less than or equal to b

In [ ]:
x = 10
y = 20
if x <= y:
    print("x is less than or equal to y")

x is less than or equal to y

In [ ]:
age = 18
if age <= 25:
    print("chotiiii bachiii ho kya")

chotiiii bachiii ho kya

In [ ]:
score = 85
if score <= 100:
    print("okay")

okay

In [ ]:
# >= operator
x = 10
y = 5
if x >= y:
    print("x is greater than or equal to y")

x is greater than or equal to y

In [ ]:
x = 20
y = 10
if x >= y:
    print("x is greater than or equal to y")

x is greater than or equal to y

In [ ]:
a = 7
b = 7
if a >= b:
    print("a is greater than or equal to b")

a is greater than or equal to b

In [ ]:
score = 90
if score >= 75:
    print("ye b thk hai")

ye b thk hai

In [ ]:
age = 30
if age >= 18:
    print("age thk hai")

age thk hai

In [ ]:
#logical operators

# AND Operator
x = 10
y = 5
if x > 5 and y < 10:
    print("Both conditions are true")

Both conditions are true

In [ ]:
age = 25
if age > 18 and age < 30:
    print("You are a young adult")

You are a young adult

In [ ]:
x = 5
y = -3
if x > 0 and y < 0:
    print("The point is fine")

The point is fine

In [ ]:
char = 'A'
if char >= 'A' and char <= 'Z':
    print("It's an uppercase letter")

It's an uppercase letter

In [ ]:
username = "user123"
password = "password123"
if username == "user123" and password == "password123":
    print("Login successful")

Login successful

In [ ]:
#OR OPERATOR
x = 5
y = 10
if x > 5 or y > 5:
    print("At least one condition is true")

At least one condition is true

In [ ]:
num1 = -5
num2 = 10
if num1 > 0 or num2 > 0:
    print("At least one number is positive")

At least one number is positive

In [ ]:
number = 15
if number % 3 == 0 or number % 5 == 0:
    print("The number is divisible by 3 or 5")

The number is divisible by 3 or 5

In [ ]:
a = 10
b = 15
if a > 0 or b > 0:
    print("at least one is true")

at least one is true

In [ ]:
num1 = 50
num2 = 10
if num1 > 0 or num2 > 0:
    print("least one number is positive")

least one number is positive

In [ ]:
#NOT Operator
x = 10
if not (x < 5):
    print("x is not less than 5")

x is not less than 5

In [ ]:
number = 5
if not (number == 0):
    print("The number is not zero")

The number is not zero

In [ ]:
age = 18
if not (age < 18):
    print("You are an adult")

You are an adult

In [ ]:
is_raining = True
if not is_raining:
    print("It's not raining")

In [ ]:
a = 10
if not (a == 0):
    print(" a is 10")

 a is 10