# OPERATORS

In [ ]:
a = int(input("First number"))
b = int(input("Second number"))
print("sum of numbers is: ", a+b)

First number 90
Second number 67

sum of numbers is:  157

In [ ]:
a2 = float(input("First number"))
b2 = float(input("Second number"))
print("sum of numbers is: ", a2+b2)

First number 6.9
Second number 3.21

sum of numbers is:  10.11

In [ ]:
a3 = input("First number")
b3 = input("Second number")
print("sum of numbers is: ", int(a3)+int(b3))

First number 89
Second number 324

sum of numbers is:  413

In [ ]:
a4 = str(input("First Name: "))
b4 = str(input("Last Name: "))
print("Name is: ", a4+b4)

First Name:  Zahra
Last Name:  Batool

Name is:  Zahra Batool

In [ ]:
a5 = 45
b5 = 8.2
print("sum of numbers is: ", a+b)

sum of numbers is:  53.2

In [ ]:
c1 = int(input("First number"))
d1 = int(input("Second number"))
print("subtraction is: ", c1-d1)

First number 67
Second number 31

sum of numbers is:  36

In [ ]:
c2 = float(input("First number"))
d2 = float(input("Second number"))
print("subtraction is: ", c2-d2)

First number 9.19
Second number 4.23

sum of numbers is:  4.959999999999999

In [ ]:
c3 = float(input("First number"))
d3 = float(input("Second number"))
print("subtraction is: ", c3-d3)

First number 8.67
Second number 3.98

sum of numbers is:  4.6899999999999995

In [ ]:
c4 = 45
d4 = 8.2
print("subtraction is: ", c4-d4)

sum of numbers is:  36.8

In [ ]:
c5 = input("First number")
d5 = input("Second number")
print("subtraction is: ", int(c5)-int(d5))

First number 145
Second number 129

sum of numbers is:  16

In [ ]:
e1 = int(input("First number"))
f1 = int(input("Second number"))
print("multiplication is: ", e1*f1)

First number 5
Second number 67

multiplication is:  335

In [ ]:
e2 = float(input("First number"))
f2 = float(input("Second number"))
print("multiplication is: ", e2*f2)

First number 7.8
Second number 4.6

multiplication is:  35.879999999999995

In [ ]:
e3 = float(input("First number"))
f3 = float(input("Second number"))
print("multiplication is: ", e3*f3)

First number 5.33
Second number 2.98

multiplication is:  15.8834

In [ ]:
e4 = 45
f4 = 8.2
print("multiplication is: ", e4*f4)

multiplication is:  368.99999999999994

In [ ]:
e5 = input("First number")
f5 = input("Second number")
print("multiplication is: ", int(e5)*int(f5))

First number 654
Second number 923

multiplication is:  603642

In [ ]:
g1 = int(input("First number"))
h1 = int(input("Second number"))
print("division is: ", g1/h1)

First number 225
Second number 25

division is:  9.0

In [ ]:
g2 = float(input("First number"))
h2 = float(input("Second number"))
print("division is: ", g2/h2)

First number 9.9
Second number 1.1

division is:  9.0

In [ ]:
g3 = float(input("First number"))
h3 = float(input("Second number"))
print("division is: ", g3/h3)

First number 6.78
Second number 3.2

division is:  2.11875

In [ ]:
g4 = 45
h4 = 8.2
print("division is: ", g4/h4)

division is:  5.487804878048781

In [ ]:
g5 = input("First number")
h5 = input("Second number")
print("division is: ", int(g5)/int(h5))

First number 684
Second number 342

division is:  2.0

In [ ]:
i1 = int(input("First number"))
j1 = int(input("Second number"))
print("modulus is: ", i1%j1)

First number 654
Second number 98

modulus is:  66

In [ ]:
i2 = float(input("First number"))
j2 = float(input("Second number"))
print("modulus is: ", i2%j2)

First number 8.74
Second number 2.1

modulus is:  0.33999999999999986

In [ ]:
i3 = float(input("First number"))
j3 = float(input("Second number"))
print("modulus is: ", i3%j3)

First number 76.5
Second number 4.3

modulus is:  3.400000000000003

In [ ]:
i4 = 45
j4 = 8.2
print("modulus is: ", i4%j4)

modulus is:  4.0000000000000036

In [ ]:
i5 = input("First number")
j5 = input("Second number")
print("modulus is: ", int(i5)%int(j5))

First number 984
Second number 76

modulus is:  72

In [ ]:
a = 40
b = 44
c = a+b
print(c)

84

In [ ]:
c= 765
d = 234
e = c-d
print(c)

765

In [ ]:
e = 598
f = 372
g = e*f
print(g)

222456

In [ ]:
g = 567
h = 34
i = g/h
print(i)

16.676470588235293

In [ ]:
i = 8932
j = 675
k = i%j
print(k)

157

In [ ]:
x = int(input("enter number"))
y = int(input("enter second number"))
x+=y
print(x)

enter number 456
enter second number 789

1245

In [ ]:
x = float(input("enter number"))
y = float(input("enter second number"))
x+=y
print(x)

enter number 5.67
enter second number 8.234

13.904

In [ ]:
x = int(input("enter number"))
y = int(input("enter second number"))
x+=y
print(x)

enter number 546
enter second number 623

1169

In [ ]:
x = float(input("enter number"))
y = float(input("enter second number"))
x+=y
print(x)

enter number 7.12
enter second number 9.33

16.45

In [ ]:
x = 45
y = 80.7
x+=y
print(x)

125.7

In [ ]:
x = int(input("enter number"))
y = int(input("enter second number"))
x-=y
print(x)

enter number 1004
enter second number 899

105

In [ ]:
x = int(input("enter number"))
y = int(input("enter second number"))
x-=y
print(x)

enter number 9087
enter second number 765

8322

In [ ]:
x = float(input("enter number"))
y = float(input("enter second number"))
x-=y
print(x)

enter number 45.67
enter second number 32.11

13.560000000000002

In [ ]:
x = float(input("enter number"))
y = float(input("enter second number"))
x-=y
print(x)

enter number 9.425
enter second number 6.79

2.6350000000000007

In [ ]:
x = 5.431
y = 789.6
x-=y
print(x)

-784.169

In [ ]:
x = int(input("enter number"))
y = int(input("enter second number"))
x*=y
print(x)

enter number 67
enter second number 54

3618

In [ ]:
x = int(input("enter number"))
y = int(input("enter second number"))
x*=y
print(x)

enter number 987
enter second number 345

340515

In [ ]:
x = float(input("enter number"))
y = float(input("enter second number"))
x*=y
print(x)

enter number 67.5
enter second number 9.8

661.5

In [ ]:
x = float(input("enter number"))
y = float(input("enter second number"))
x*=y
print(x)

enter number 4.78
enter second number 3.98

19.0244

In [ ]:
x = 675
y = 3456
x*=y
print(x)

2332800

In [ ]:
x = float(input("enter number"))
y = float(input("enter second number"))
x/=y
print(x)

enter number 676
enter second number 89

7.595505617977528

In [ ]:
x = float(input("enter number"))
y = float(input("enter second number"))
x/=y
print(x)

enter number 345
enter second number 23

15.0

In [ ]:
x = int(input("enter number"))
y = int(input("enter second number"))
x/=y
print(x)

enter number 6298
enter second number 731

8.615595075239398

In [ ]:
x = int(input("enter number"))
y = int(input("enter second number"))
x/=y
print(x)

enter number 7654
enter second number 982

7.794297352342159

In [ ]:
a = 7654
b = 234
a/=b
print(a)

32.70940170940171

In [ ]:
x = float(input("enter number"))
y = float(input("enter second number"))
x%=y
print(x)

enter number 9823
enter second number 45

13.0

In [ ]:
x = float(input("enter number"))
y = float(input("enter second number"))
x%=y
print(x)

enter number 3456
enter second number 789

300.0

In [ ]:
x = int(input("enter number"))
y = int(input("enter second number"))
x%=y
print(x)

enter number 6321
enter second number 897

42

In [ ]:
x = int(input("enter number"))
y = int(input("enter second number"))
x%=y
print(x)

enter number 9245
enter second number 67

66

In [ ]:
a = 6712
b = 34
a%=b
print(a)

14