In [ ]:
#equal to
x=8
y=8
print(x==y)

a=5
b=5
print(a==b)

c=1
d=2
print(c==d)

y=4
z=4
print(y==z)

e=9
p=9
print (e==p)

True
True
False
True
True

In [ ]:
# not equal to
x=5
y=8
print(x!=y)

x=6
y=7
print(x!=y)

x=8
y=9
print(x!=y)

x=10
y=11
print(x!=y)

x=12
y=13
print(x!=y)

True
True
True
True
True

In [ ]:
num1=4
num2=2
print(num1>num2)

num3=3
num4=6
print(num3>num4)

num5=10
num6=5
print(num5>num6)

num7=15
num8=7
print(num7<num8)

num9=78.98
num10=79
print(num9<num10)

True
False
True
False
True

In [ ]:
num5=10
num6=5
print(num5>num6)

num7=15
num8=7
print(num7<num8)

True
False

In [ ]:


num11=17
num12=16
print(num11<num12)

num13=19
num14=18
print(num13>num14)

num15=20
num16=21
print(num15>num16)

num17=22
num18=21
print(num17>num18)

num19=23
num20=22
print(num19<num20)

False
True
False
True
False