
Comparison operators (==)

In [ ]:
# Example 1: Comparing numbers
x = 10
y = 10
print(x == y)  # Output: True

True

In [ ]:
# Example 2: Comparing strings
name1 = "TahseenNazar"
name2 = "TahseenNazar"
print(name1 == name2)  # Output: True

True

In [ ]:
# Example 3: Comparing different data types
a = 10985
b = "10985"
print(a == b)  # Output: False (different data types)

False

In [ ]:
# Example 4: Comparing lists
list1 = [45, 25, 38]
list2 = [45, 25, 38]
print(list1 == list2)  # Output: True (same elements in the same order)

True

In [ ]:
# Example 5: Using == in an if condition
age = 20
if age == 20:
    print("Tahseen are an adult.")

Tahseen are an adult.

Comparison operators (!=)

In [ ]:
# Example 1: Comparing numbers
x = 1000000
y = 5000000
if x != y:
    print("x is not equal to y")

x is not equal to y

In [ ]:
# Example 2: Comparing strings
name1 = "Tahseen"
name2 = "nazar"
if name1 != name2:
    print("name1 is not equal to name2")

name1 is not equal to name2

In [ ]:
# Example 3: Checking if a value is not in a list
fruits = ["apple", "banana", "mango"]
if "orange" not in fruits:
    print("orange is not in the list of fruits")

orange is not in the list of fruits

In [ ]:
# Example 4: Checking if a variable is not None
user_input = None

if user_input != None:
    print("User input is not empty")
else:
    print("User input is empty")

User input is empty

In [ ]:
# Example 5: Checking if a condition is not True
is_raining = True

if  is_raining:
    print("It's  raining")

It's  raining

Comparison operator : (<)

In [ ]:

#Example 1 comparing Numbers:
x = 10
y = 20
print(x < y)

True

In [ ]:

#Example 2 Comparing Strings:
a = "apple"
b = "banana"

print(a < b)

True

In [ ]:

#example 3 Checking if a Number is Within a Range:

age = 69

print(20 < age < 70)

True

In [ ]:

#Example 4 Sorting a List:
numbers = [5, 2, 9, 1, 69]
numbers.sort()
print(numbers)

[1, 2, 5, 9, 69]

In [ ]:

#Example 5 Conditional Statements:
temperature = 21

if temperature < 150:
    print("It's cold outside.")
else:
    print("It's not too cold.")

It's cold outside.

Comparison operators (>)

In [ ]:
# Example 1. Comparing numbers
x = 10
y = 10
print(x > y)

# Example 2. Comparing strings (lexicographical order)
a = "apple"
b = "apple"
print(a > b)

#Example 3. Checking if a number is positive
num = -7
print(num > 0)

#Example 4. Comparing floating-point numbers
pi = 3.14159
e = 2.71828
print(pi > e)

#Example 5. Using the `>` operator in an `if` condition
age = 18
if age > 20:
    print("You are an adult.")
else:
    print("You are a minor.")

False
False
False
True
You are a minor.

Comparison operator (<=)

In [ ]:

#Example 1 checking if a number is less than or equal to another:
k = 10
l = 15

if k <= l:
    print("k is less than or equal to l")

k is less than or equal to l

In [ ]:
#Example 2 checking if a variable is within a certain range:

age = 25

if 18 <= age <= 65:
    print("You are eligible  candidate")

You are eligible  candidate

In [ ]:

#Example 3 sorting a list in ascending order:

numbers = [5, 2, 69, 1, 97]
numbers.sort()
print(numbers)

[1, 2, 5, 69, 97]

In [ ]:

# Example 4 Filtering elements from a list:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_numbers = [num for num in numbers if num <= 1]
print(filtered_numbers)

[1]

In [ ]:

#Example 5 checking if a number is less than or equal to another:
A = 10
B = 15

if A <= B:
    print("A is less than or equal to B")

A is less than or equal to B

Comparison operators (>=)

In [ ]:
#Example 1. Comparing numbers
num1 = 100000
num2 = 500000

if num1 >= num2:
    print("num1 is greater than or equal to num2")

#Example 2. Checking if a number is positive or zero
number = -3

if number >= 0:
    print("The number is positive or zero")
else:
    print("The number is negative")

#Example 3. Validating user input
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote yet")

#Example 4. Sorting a list in descending order
numbers = [50, 92, 79, 71, 76]

numbers.sort(reverse=True)
print(numbers)

#Example 5. Limiting a value within a range
value = 15
min_value = 10
max_value = 20

if value >= min_value:
    value = min(value, max_value)
    print("Value:", value)

The number is negative
Enter your age: 20
You are eligible to vote
[92, 79, 76, 71, 50]
Value: 15