# **TASK #3**

# Comparison Operators

In [ ]:
# == (Equal to)
x = 10
y = 10
print(x == y)

a = "Asghar"
b = "Asghar"
print(a == b)

x1 = "asghar"
x2 = "Asghar"
print(x1 == x2)

x = 2.00
y = 2
print(x == y)

True
True
False
True

In [ ]:
# != (Not equal to)
a = 5
b = 7
print(a != b)

a = "Asghar"
b = "Asghar"
print(a != b)

x1 = "asghar"
x2 = "Asghar"
print(x1 != x2)

x = 23.23
y = 23
print(x != y)

True
False
True
True

In [ ]:

# < (Less than)
c = 20
d = 30
print(c < d)

h = 34
i = 34
print(h < i)

x = 2.001
y = 2.00
print(y < x)

True

In [ ]:

# > (Greater than)
e = 45
f = 35
print(e > f)


d = "asghar"
e = "Asgar"
print(d > e)

x = 2.0212
y = 2.00
print(y > x)

True
True
False

In [ ]:
# <= (Less than or equal to)
g = 15
h = 15
print(g <= h)

x = 2.001
y = 2.00
print(y <= x)

a = "P"
b = "Q"
print(a <= b)

True
True
True

In [ ]:

# >= (Greater than or equal to)
i = 25
j = 20
print(i >= j)


w = 3.21
e = 3.20
print(w >= e)

e = 'A'
f = 'a'
print(e >= f)

True
True
False

## **Logical Operators**

In [ ]:
# AND
x = True
y = False
print(x and y)

# 2. Different boolean values
x = True
y = False
print(x and y)

#Using numbers with comparison operators
a = 10
b = 20
print(a > 5 and b < 30)

#Using strings with comparison operators
name1 = "Alice"
name2 = "Bob"
print(name1 == "Alice" and name2 == "Bob")


age = 25
height = 170
weight = 70
print(age >= 18 and height > 160 and weight > 60)

x = 10
y = 20
if x > 5 and y < 30:
    print("Both conditions are True")

False
False
True
True
True
Both conditions are True

In [ ]:
# OR
a = True
b = False
print(a or b)

#Different boolean values
x = True
y = False
print(x or y)

#comparison operators
a = 10
b = 20
print(a > 5 or b < 10)


name1 = "Alice"
name2 = "Bob"
print(name1 == "Alice" or name2 == "Charlie")

age = 25
height = 170
weight = 70
print(age >= 18 or height > 180 or weight > 80)


x = 10
y = 20
if x > 15 or y < 10:
    print("At least one condition is True")

True
True
True
True
True

In [ ]:

# NOT
c = True
print(not c)

a = 10
b = 20
print(not (a > b))

x = 10
if not (x > 20):
    print("x is not greater than 20")

False
True
x is not greater than 20

In [ ]:
# AND with numbers
num1 = 10
num2 = 20
print(num1 > 5 and num2 < 30)

True

In [ ]:

# OR with numbers
num3 = 5
num4 = 15
print(num3 < 10 or num4 > 20)

True